/* ::::: http://s.builtwith.com/css/bw3.min.css ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzhhcuogz7vygh680lgh-uxm.woff') format("woff");
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio:not([controls]) { display: none; }
html { font-size: 100%; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
a:hover, a:active { outline: 0px none; }
img { height: auto; max-width: 100%; vertical-align: middle; border: 0px none; }
button, input, select, textarea { margin: 0px; font-size: 100%; vertical-align: middle; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
body { margin: 0px; font-family: "Open Sans",Calibri,Candara,Arial,sans-serif; font-size: 13px; line-height: 20px; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); }
a { color: rgb(17, 117, 221); text-decoration: none; }
a:hover, a:focus { color: rgb(0, 102, 204); text-decoration: underline; }
.row { margin-left: -20px; }
.row:before, .row:after { display: table; line-height: 0; content: ""; }
.row:after { clear: both; }
[class*="span"] { float: left; min-height: 1px; margin-left: 20px; }
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
.span12 { width: 940px; }
.span9 { width: 700px; }
.span8 { width: 620px; }
.span6 { width: 460px; }
.span4 { width: 300px; }
.span3 { width: 220px; }
.span2 { width: 140px; }
.span1 { width: 60px; }
.container { margin-right: auto; margin-left: auto; }
.container:before, .container:after { display: table; line-height: 0; content: ""; }
.container:after { clear: both; }
p { margin: 0px 0px 10px; }
small { font-size: 85%; }
strong { font-weight: bold; }
.text-right { text-align: right; }
.text-center { text-align: center; }
h1, h2, h3, h4, h5, h6 { margin: 10px 0px; font-family: inherit; font-weight: 300; line-height: 20px; color: rgb(8, 8, 8); text-rendering: optimizelegibility; }
h1, h2, h3 { line-height: 40px; }
h1 { font-size: 38.5px; }
h2 { font-size: 31.5px; }
.page-header { padding-bottom: 9px; margin: 20px 0px 30px; border-bottom: 1px solid rgb(238, 238, 238); }
ul, ol { padding: 0px; margin: 0px 0px 10px 25px; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0px; margin-left: 20px; }
li { line-height: 24px; }
abbr[title], abbr[data-original-title] { cursor: help; border-bottom: 1px dotted rgb(223, 223, 223); }
address { display: block; margin-bottom: 20px; font-style: normal; line-height: 20px; }
form { margin: 0px; }
label, input, button, select, textarea { font-size: 14px; font-weight: normal; line-height: 20px; }
input, button, select, textarea { font-family: "Open Sans",Calibri,Candara,Arial,sans-serif; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { display: inline-block; height: 20px; padding: 4px 6px; margin-bottom: 4px; font-size: 14px; line-height: 20px; color: rgb(187, 187, 187); vertical-align: middle; border-radius: 0px; }
input, textarea, .uneditable-input { width: 260px; }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { background-color: rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(82, 168, 236, 0.6); }
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(187, 187, 187); }
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] { float: none; margin-left: 0px; }
input, textarea, .uneditable-input { margin-left: 0px; }
input.span3, textarea.span3, .uneditable-input.span3 { width: 206px; }
input:focus:invalid, textarea:focus:invalid, select:focus:invalid { color: rgb(185, 74, 72); border-color: rgb(238, 95, 91); }
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus { border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px rgb(248, 185, 183); }
input.search-query { padding-right: 14px; padding-left: 14px; margin-bottom: 0px; border-radius: 15px; }
table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0px; }
.table { width: 100%; margin-bottom: 20px; }
.table th, .table td { padding: 8px; line-height: 20px; text-align: left; vertical-align: top; border-top: 1px solid rgb(221, 221, 221); }
.table th { font-weight: bold; }
.table thead th { vertical-align: bottom; }
.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td { border-top: 0px none; }
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th { background-color: rgb(232, 254, 235); }
[class^="icon-"], [class*=" icon-"] { display: inline-block; width: 14px; height: 14px; margin-top: 1px; line-height: 14px; vertical-align: text-top; background-image: url('glyphicons-halflings.png'); background-position: 14px 14px; background-repeat: no-repeat; }
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-builtwith .nav > .active > a > [class^="icon-"], .navbar-builtwith .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:focus > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > li > a:focus > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:focus > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"], .dropdown-submenu:focus > a > [class*=" icon-"] { background-image: url('glyphicons-halflings-white.png'); }
.icon-search { background-position: -48px 0px; }
.icon-arrow-down { background-position: -312px -96px; }
.icon-chevron-down { background-position: -313px -119px; }
.dropup, .dropdown { position: relative; }
.dropdown-toggle {  }
.dropdown-toggle:active, .open .dropdown-toggle { outline: 0px none; }
.caret { display: inline-block; width: 0px; height: 0px; vertical-align: top; border-top: 4px solid rgb(0, 0, 0); border-right: 4px solid transparent; border-left: 4px solid transparent; content: ""; }
.dropdown .caret { margin-top: 8px; margin-left: 2px; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: none outside none; background-color: rgb(255, 255, 255); border: 1px solid rgb(168, 168, 168); border-radius: 6px; background-clip: padding-box; }
.dropdown-menu .divider { height: 1px; margin: 9px 1px; overflow: hidden; background-color: rgb(229, 229, 229); border-bottom: 1px solid rgb(255, 255, 255); }
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: rgb(46, 87, 43); white-space: nowrap; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a { color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(12, 69, 6); }
.collapse { position: relative; height: 0px; overflow: hidden; transition: height 0.35s ease 0s; }
.btn { border-right: 0px none rgb(230, 230, 230); border-top: 0px none rgb(230, 230, 230); border-bottom: 0px none rgb(162, 162, 162); display: inline; padding: 4px 12px; margin-bottom: 0px; font-size: 14px; line-height: 20px; color: rgb(51, 51, 51); text-align: center; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; background-color: rgb(245, 245, 245); background-repeat: repeat-x; border-radius: 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230)); }
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { color: black; background-color: rgb(239, 239, 239); }
.btn:active, .btn.active {  }
.btn:first-child {  }
.btn:hover, .btn:focus { color: rgb(8, 8, 8); text-decoration: none; background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.btn.active, .btn:active { background-color: rgb(0, 127, 255); color: rgb(255, 255, 255); background-image: none; outline: 0px none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn-large { padding: 22px 30px; font-size: 17.5px; border-radius: 4px; }
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] { margin-top: 4px; }
.btn-small { padding: 2px 10px; font-size: 11.9px; border-radius: 2px; }
.btn-danger { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: rgb(245, 15, 67); background-repeat: repeat-x; background-image: linear-gradient(to bottom, rgb(255, 26, 77), rgb(230, 0, 51)); border-color: rgb(230, 0, 51) rgb(230, 0, 51) rgb(153, 0, 34); }
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] { color: rgb(255, 255, 255); background-color: rgb(230, 0, 51); }
.btn-danger:active, .btn-danger.active {  }
.btn-info { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: rgb(0, 127, 255); }
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] { color: rgb(255, 255, 255); background-color: rgb(0, 127, 255); }
.btn-info:active, .btn-info.active { background-color: rgb(0, 127, 255); }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.nav { margin-bottom: 10px; margin-left: 0px; margin-top: 30px; list-style: none outside none; }
.nav > li > a { display: block; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
.nav-tabs, .nav-pills { background-color: rgb(239, 239, 239); }
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after { display: table; line-height: 0; content: ""; }
.nav-tabs:after, .nav-pills:after { clear: both; }
.nav-tabs > li, .nav-pills > li { float: left; }
.nav-pills > li > span { padding: 8px; display: block; line-height: 14px; }
.nav-pills > .active > span, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus { color: rgb(255, 255, 255); background-color: rgb(12, 69, 6); }
.nav .dropdown-toggle .caret { margin-top: 6px; border-top-color: rgb(0, 127, 255); border-bottom-color: rgb(0, 127, 255); }
.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret { border-top-color: rgb(0, 102, 204); border-bottom-color: rgb(0, 102, 204); }
.navbar { margin-bottom: 20px; overflow: visible; }
.navbar-inner { min-height: 50px; padding-right: 20px; padding-left: 20px; background-color: rgb(8, 8, 8); background-repeat: repeat-x; border: 1px solid transparent; border-radius: 0px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067); background-image: linear-gradient(to bottom, rgb(8, 8, 8), rgb(8, 8, 8)); }
.navbar-inner:before, .navbar-inner:after { display: table; line-height: 0; content: ""; }
.navbar-inner:after { clear: both; }
.navbar .container { width: auto; }
.navbar .brand { display: block; float: left; padding: 15px 20px; margin-left: -20px; font-size: 20px; font-weight: 200; color: rgb(255, 255, 255); text-shadow: 0px 1px 0px rgb(8, 8, 8); }
.navbar .brand:hover, .navbar .brand:focus { text-decoration: none; }
.navbar-search { position: relative; float: left; margin-top: 10px; margin-bottom: 0px; }
.navbar-search .search-query { padding: 4px 14px; margin-bottom: 0px; font-family: "Open Sans",Calibri,Candara,Arial,sans-serif; font-size: 13px; font-weight: normal; line-height: 1; border-radius: 15px; }
.navbar-static-top { position: static; margin-bottom: 0px; }
.navbar-static-top .navbar-inner { border-radius: 0px; }
.navbar-fixed-top, .navbar-fixed-bottom { position: fixed; right: 0px; left: 0px; z-index: 1030; margin-bottom: 0px; }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { border-width: 0px 0px 1px; }
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner { padding-right: 0px; padding-left: 0px; border-radius: 0px; }
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
.navbar-fixed-top { top: 0px; }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); }
.navbar .nav { position: relative; left: 0px; display: block; float: left; margin: 0px 10px 0px 0px; }
.navbar .nav > li { float: left; }
.navbar .nav > li > a { float: none; padding: 15px; color: rgb(255, 255, 255); text-decoration: none; text-shadow: 0px 1px 0px rgb(8, 8, 8); }
.navbar .nav .dropdown-toggle .caret { margin-top: 10px; }
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover { color: rgb(187, 187, 187); text-decoration: none; background-color: rgba(0, 0, 0, 0.05); }
.navbar .nav > li > .dropdown-menu:before { position: absolute; top: -7px; left: 9px; display: inline-block; border-right: 7px solid transparent; border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; content: ""; }
.navbar .nav > li > .dropdown-menu:after { position: absolute; top: -6px; left: 10px; display: inline-block; border-right: 6px solid transparent; border-bottom: 6px solid rgb(255, 255, 255); border-left: 6px solid transparent; content: ""; }
.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret { border-top-color: rgb(187, 187, 187); border-bottom-color: rgb(187, 187, 187); }
.navbar .nav li.dropdown > .dropdown-toggle .caret { border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); }
.navbar-builtwith .navbar-inner { background-color: rgb(9, 67, 3); background-repeat: repeat-x; border-color: transparent; background-image: linear-gradient(to bottom, rgb(223, 223, 223), rgb(223, 223, 223)); }
.navbar-builtwith .brand, .navbar-builtwith .nav > li > a { color: rgb(201, 201, 201); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); }
.navbar-builtwith .brand:hover, .navbar-builtwith .nav > li > a:hover, .navbar-builtwith .brand:focus, .navbar-builtwith .nav > li > a:focus { color: rgb(201, 201, 201); }
.navbar-builtwith .brand { color: rgb(0, 0, 0); }
.navbar-builtwith .nav > li > a:focus, .navbar-builtwith .nav > li > a:hover { color: rgb(201, 201, 201); background-color: rgba(0, 0, 0, 0.05); }
.navbar-builtwith .nav li.dropdown > a:hover .caret, .navbar-builtwith .nav li.dropdown > a:focus .caret { border-top-color: rgb(201, 201, 201); border-bottom-color: rgb(201, 201, 201); }
.navbar-builtwith .nav li.dropdown > .dropdown-toggle .caret { border-top-color: rgb(201, 201, 201); border-bottom-color: rgb(201, 201, 201); }
.navbar-builtwith .navbar-search .search-query { color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-color: rgb(192, 192, 192); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.15); transition: none 0s ease 0s ; }
.navbar-builtwith .navbar-search .search-query:-moz-placeholder { color: rgb(153, 153, 153); }
.navbar-builtwith .navbar-search .search-query:focus, .navbar-builtwith .navbar-search .search-query.focused { padding: 5px 15px; color: rgb(153, 153, 153); text-shadow: 0px 1px 0px rgb(255, 255, 255); background-color: rgb(255, 255, 255); border: 0px none; outline: 0px none; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15); }
.breadcrumb { padding: 8px 5px; margin: 0px; list-style: none outside none; background-color: rgb(245, 245, 245); border-radius: 0px; }
.accordion { margin: 20px; }
.accordion-group { margin-bottom: 10px; border: 1px solid rgb(229, 229, 229); border-radius: 4px; }
.accordion-heading { border-bottom: 0px none; }
.accordion-heading .accordion-toggle { display: block; padding: 8px 15px; }
.accordion-toggle { cursor: pointer; }
.accordion-inner { padding: 9px 15px; border-top: 1px solid rgb(229, 229, 229); }
.pull-right { float: right; }
body { font-weight: 300; }
h1 { font-size: 50px; }
h2, h3 { font-size: 26px; }
.navbar .navbar-inner { background-image: none; border-radius: 0px; box-shadow: none; }
.navbar .brand:hover { color: rgb(187, 187, 187); }
.navbar .navbar-search .search-query { line-height: normal; }
.navbar-builtwith .brand, .navbar-builtwith .nav > li > a { text-shadow: none; }
.navbar-builtwith .brand:hover, .navbar-builtwith .nav > .active > a, .navbar-builtwith .nav > .active > a:hover, .navbar-builtwith .nav > .active > a:focus { color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.05); box-shadow: none; }
.navbar-builtwith .navbar-search .search-query { color: rgb(8, 8, 8); }
.breadcrumb { margin-top: 95px; background-color: rgb(255, 255, 255); }
.btn { padding: 7px 14px; text-shadow: none; background-image: none; border: 0px none; box-shadow: none; }
.btn-large { padding: 22px 30px; }
.btn-small { padding: 2px 10px; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { color: rgb(8, 8, 8); }
.dropdown-menu { border-radius: 0px; }
[class^="icon-"], [class*=" icon-"] { margin: 0px 2px; vertical-align: -2px; }
.pull-right { float: right; }
.brand img { transition: all 0.5s ease 0s; }
.navbar-custom { transition: all 0.5s ease 0s; }
img.navLogo { width: 146px; height: 43px; }
a.brand { padding-bottom: 5px ! important; padding-top: 2px ! important; }
.navbar-search .icon-search { position: absolute ! important; top: 8px ! important; left: 8px ! important; }
.navbar-search .search-query { padding-left: 30px ! important; }
.icon-search { opacity: 0.7; }
.sectionH2 { line-height: 1.2em; color: rgb(99, 99, 99); font-size: 20px; margin-bottom: 0px; }
.homeH2 { line-height: 1.2em; color: rgb(99, 99, 99); font-size: 23px; }
.navbar-custom { padding-top: 10px; padding-bottom: 10px; }
.navbar-custom-black { background-color: rgb(0, 41, 2) ! important; padding-bottom: 0px; min-height: 22px; height: 22px; }
.curved { border-radius: 7px; }
.promoImage { width: 80px; margin-bottom: 10px; }
.promoTd { width: 85px ! important; }
.greySection { background-color: rgb(239, 239, 239); border-top: 1px solid rgb(192, 192, 192); border-bottom: 1px solid rgb(192, 192, 192); padding-top: 30px; padding-bottom: 30px; margin-top: 30px; margin-bottom: 30px; }
footer { background-color: rgb(41, 41, 41); color: rgb(201, 201, 201); padding-top: 20px; padding-bottom: 30px; border-top: 1px solid black; margin-top: 40px; }
.navlinks a, footer a { color: rgb(201, 201, 201); }
.promoTable { border-bottom: 1px solid rgb(239, 239, 239); margin-bottom: 11px; }
.small { font-size: 11px; }
.titleBox ul li span { font-weight: bold; }
.nomargin { margin: 0px ! important; }
.trendsH1 { font-size: 40px; }
.navlinks { color: rgb(239, 239, 239); }
.socialIcon { margin-top: 15px; margin-right: 4px; width: 22px; }
.tipsey { cursor: help; }
