/* ::::: https://apis.google.com/_/scs/apps-static/_/ss/k=oz.plus_followers_widget.gz53c6rchhlo.L.F4.O/m=wf,pfw,cpw/am=AACZ/d=1/rs=AItRSTNUgKfFozHXE7n7NONXybIkSPjtkA ::::: */

.d-k-l { position: relative; display: inline-block; }
* html .d-k-l, :first-child + html .d-k-l { display: inline; }
.b-c { border-radius: 2px; cursor: default; font-size: 12px; font-weight: bold; text-align: center; white-space: nowrap; margin-right: 16px; height: 28px; line-height: 28px; min-width: 54px; outline: 0px none; padding: 0px 8px; }
.b-c-R { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); background-color: rgb(255, 255, 255); background-image: -moz-linear-gradient(center top , transparent, transparent); color: rgb(64, 64, 64); border: 1px solid rgba(0, 0, 0, 0.15); }
.b-c-R:active, .b-c-R.b-c-u:active { box-shadow: 0px 2px 0px rgb(221, 221, 221) inset; background: none repeat scroll 0% 0% rgb(229, 229, 229); color: rgb(38, 38, 38); }
.b-c-R:focus { border: 1px solid rgb(217, 217, 217); outline: 4px solid rgb(199, 220, 252); }
.d-s, .o-U-s { color: rgb(66, 127, 237); cursor: pointer; }
.d-s:hover, .o-U-s:hover { text-decoration: underline; }
a { cursor: pointer; }
.t-Pa-mb-Od { display: none; }
.t-Pa-mb-c { margin: 0px; overflow: hidden; text-overflow: ellipsis; text-transform: none; white-space: nowrap; word-wrap: normal; }
body { background-color: transparent; font: 13px normal arial,sans-serif; margin: 0px; }
a { color: rgb(51, 51, 51); cursor: pointer; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
img { border: 0px none; }
.t-Pa-mb-c.b-c { box-sizing: content-box; line-height: 0 ! important; padding: 0px 10px; }
.t-Pa-mb-c.b-c:before { content: ""; overflow: hidden; display: inline-block; vertical-align: middle; height: 28px; }
.t-Pa-mb-c.b-c .t-Pa-mb-Od { background-image: url('cpw-7de38e2bb0.png'); display: inline-block; margin-right: 0px ! important; position: relative; top: 0px; vertical-align: middle; }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
	.t-Pa-mb-c.b-c .t-Pa-mb-Od { background-image: url('cpw-hdpi-7de38e2bb0.png'); background-size: 37px 72px; }
}
.Txql0d { margin-left: 6px; vertical-align: middle; }
.t-Pa-mb-c.b-c-R { background-color: rgb(255, 255, 255) ! important; border-color: rgb(212, 212, 212); color: rgb(64, 64, 64) ! important; }
.t-Pa-mb-c.b-c-R .t-Pa-mb-Od { background-position: 0px -20px; height: 20px; width: 20px; }
.t-Pa-mb-c.b-c-R .t-Pa-mb-Od, .t-Pa-mb-ek.b-c-R .t-Pa-mb-Od { opacity: 0.7; }
body, th, td { font: 13px Roboto,arial,sans-serif; }
a:link, a:visited { color: rgb(66, 127, 237); cursor: pointer; text-decoration: none; }
a:hover { color: rgb(66, 127, 237); cursor: pointer; }
a:active, .d-s { color: rgb(66, 127, 237); cursor: pointer; text-decoration: none; }
a:hover, .d-s:hover { text-decoration: underline; }
@media (min-resolution: 144dpi), not all {
}
.Nd { border-radius: 3px; }
img.Qee { display: inline-block; }
.Ree { background: none repeat scroll 0% 0% transparent ! important; position: static ! important; display: table-cell; }
.Pee { background-image: url('gprofile_button-16.png'); background-repeat: no-repeat; padding-left: 20px; font-size: 14px; font-weight: bold; line-height: 16px; max-height: 16px; margin-bottom: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }
.T8b a.U8b:link, .T8b a.U8b:visited { color: rgb(64, 64, 64); }
.See { display: table-cell; text-align: right; }
.hNc { font-weight: bold; }
.T8b .hNc { color: rgb(51, 51, 51); }
body { background: none repeat scroll 0% 0% transparent; font-family: Roboto,arial,sans-serif; font-size: 13px; margin: 0px; padding: 0px; }
.T8b .Knd { color: rgb(38, 38, 38); }
