body { padding: 0px; margin: 0px; }
.gplus div { vertical-align: middle ! important; }
#b-navbar { white-space: nowrap; color: rgb(68, 68, 68); height: 29px; border-bottom: 1px solid rgb(136, 136, 136); background: none repeat scroll 0% 0% transparent; font-size: 13px; font-family: Arial,Sans-serif; position: relative; }
#b-navbar #b-navbar-bg { position: absolute; left: 0px; top: 0px; width: 100%; height: 30px; z-index: -1; background-color: rgb(255, 255, 255); opacity: 0.4; }
#b-navbar .navbar-right { text-align: right; }
#b-navbar-controls { margin-left: 0.2em; height: 29px; }
#b-navbar #b-navbar-logo { display: block; margin-right: 8px; margin-left: 8px; width: 20px; height: 20px; background: url('icons_peach.png') no-repeat scroll -26px 0px transparent; cursor: pointer; }
#b-navbar #b-query-box { background-color: rgb(255, 255, 255); margin: 0px 0.5em 0px 0px; border: 1px solid rgb(170, 170, 170); border-radius: 3px; padding: 0px 0.3em; }
#b-navbar #b-query-icon { display: block; width: 13px; height: 13px; cursor: pointer; background: url('icons_peach.png') no-repeat scroll 0px 0px transparent; }
#b-navbar #b-query-icon:hover { background: url('icons_peach.png') no-repeat scroll -13px 0px transparent; }
#b-navbar #b-query { font-size: 13px; color: rgb(0, 0, 0); background-color: transparent; border: medium none; width: 10em; margin: 0px; }
#b-navbar .b-link, #b-navbar #b-user { display: inline-block; font-size: 13px; vertical-align: middle; padding: 2px 0.4em; }
#b-navbar .b-link { color: rgb(51, 51, 51); text-decoration: none; white-space: nowrap; cursor: pointer; }
#b-navbar .b-link:hover { color: rgb(85, 85, 238); text-decoration: underline; }
#b-navbar #b-more span.arrow { background: url('arrows-light.png') no-repeat scroll -12px center transparent; display: inline-block; width: 7px; height: 10px; }
#b-navbar #b-more:hover span.arrow { background: url('arrows-light.png') no-repeat scroll 0px center transparent; }
.b-mobile { display: none; }
#b-sms { margin: 0px 0px 0px 100px; padding: 4px 7px; line-height: 1em; font-size: 100%; text-align: left; }
#b-sms a { margin-right: 0.5em; line-height: 1em; }
#b-sms a:hover { text-decoration: underline; }
#blogger_cookie_notice { padding: 4px 0px 4px 10px; font-weight: bold; line-height: 20px; }
#blogger_cookie_notice .logo { display: inline-block; margin-right: 8px; width: 20px; height: 20px; background: url('icons_peach.png') no-repeat scroll -26px 0px transparent; cursor: pointer; position: absolute; }
#blogger_cookie_notice .cookie_message { margin-left: 28px; }
#blogger_cookie_notice .cookie_button { color: rgb(255, 255, 255); font-size: 11px; margin-left: 11px; background-color: rgb(68, 68, 68); padding: 0px 8px; height: 18px; display: inline-block; line-height: 18px; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 2px; cursor: default ! important; text-decoration: none ! important; }
