/* ::::: http://mercurynewmedia.com/Sitefinity/WebsiteTemplates/MNM/App_Themes/MNM/CSS/tooltipster.css ::::: */

html {  }
/* ::::: http://mercurynewmedia.com/Sitefinity/WebsiteTemplates/MNM/App_Themes/MNM/CSS/animations.css ::::: */

/* ::::: http://mercurynewmedia.com/Telerik.Web.UI.WebResource.axd?compress=0&_TSM_CombinedScripts_=%3b%3bTelerik.Sitefinity.Resources%2c+Version%3d6.1.4300.0%2c+Culture%3dneutral%2c+PublicKeyToken%3dnull%3aen%3ac0de57d9-770c-4f47-be3f-ad47ad7aca56%3a7a90d6a%3a83fa35c7%3bTelerik.Web.UI%2c+Version%3d2013.1.417.40%2c+Culture%3dneutral%2c+PublicKeyToken%3d121fae78165ba3d4%3aen%3a38d7db1e-d3bf-44c8-8ec4-ec2917fcd015%3a580b2269%3bTelerik.Web.UI.Skins%2c+Version%3d2013.1.417.40%2c+Culture%3dneutral%2c+PublicKeyToken%3d121fae78165ba3d4%3aen%3ad16e8365-294c-4b33-9cbf-b70fd757bfd2%3a6c8ef648 ::::: */

.sf_cols { width: 100%; margin: 0px; padding: 0px; }
.sf_cols:before, .sf_cols:after { content: ""; display: table; }
.sf_cols:after { clear: both; }
.sf_cols {  }
.sf_colsOut + .sf_colsOut {  }
.sf_1col_1_100 { float: none; margin: 0px; }
.sf_2cols_1_25 { float: left; width: 25%; margin: 0px; }
.sf_2cols_2_75 { float: right; width: 75%; margin: 0px; }
.sf_2cols_2_75 .sf_2cols_2in_75 { margin-left: 12px; }
.sf_2cols_1_50 { float: left; width: 50%; margin: 0px; }
.sf_2cols_2_50 { float: right; width: 50%; margin: 0px; }
.sf_2cols_2_50 .sf_2cols_2in_50 { margin-left: 12px; }
.sfNavList { display: block; }
.sfNavWrp .sfSel { font-weight: bold; }
.sfNavHorizontal { margin: 0px; padding: 0px; list-style-type: none; }
.sfNavHorizontal:before, .sfNavHorizontal:after { content: ""; display: table; }
.sfNavHorizontal:after { clear: both; }
.sfNavHorizontal li { float: left; }
.sfNavHorizontal li:first-child { margin-left: 0px; }
.RadSiteMap { margin: 0px; padding: 0px; }
.RadSiteMap:after { content: ""; height: 0px; clear: both; display: block; }
.RadSiteMap .rsmLink { background-position: 0px 0px; background-repeat: repeat-x; }
.RadSiteMap .rsmList, .RadSiteMap .rsmFlow, .RadSiteMap .rsmItem { margin: 0px; padding: 0px; }
.RadSiteMap .rsmItem { list-style-type: none; }
.RadSiteMap .rsmItem { clear: left; }
.RadSiteMap .rsmFlow { text-align: left; padding-bottom: 5px; }
.RadSiteMap .rsmFlow .rsmItem { display: inline-block; float: none; }
.RadSiteMap .rsmItem { font-size: 20px; }
.RadSiteMap .rsmLink, .RadSiteMap .rsmTemplate { display: block; text-decoration: none; margin-right: 10px; margin-bottom: 20px; padding: 2px 5px 2px 0px; }
.RadSiteMap .rsmFlow .rsmLink, .RadSiteMap .rsmFlow .rsmTemplate { margin-right: 0px; }
.RadSiteMap .rsmOneLevel .rsmItem { font-size: 11px; font-weight: normal; }
.RadSiteMap .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap .rsmThreeLevels .rsmLevel1 .rsmTemplate, .RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap .rsmTwoLevels .rsmLevel1 .rsmTemplate, .RadSiteMap .rsmOneLevel .rsmItem .rsmLink, .RadSiteMap .rsmOneLevel .rsmItem .rsmTemplate { display: inline-block; border-bottom: 0px none; margin-bottom: 0px; padding-left: 5px; }
.RadSiteMap_Sitefinity { color: black; font-family: Arial,Helvetica,sans-serif; }
.RadSiteMap_Sitefinity .rsmOneLevel .rsmLink, .RadSiteMap_Sitefinity .rsmTwoLevels .rsmLevel1 .rsmLink, .RadSiteMap_Sitefinity .rsmThreeLevels .rsmLevel1 .rsmLink, .RadSiteMap_Sitefinity .rsmManyLevels .rsmLevel2 .rsmLink { border: 0px none; color: rgb(0, 0, 0); }
.RadSiteMap_Sitefinity .rsmOneLevel .rsmLink:hover, .RadSiteMap_Sitefinity .rsmTwoLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Sitefinity .rsmThreeLevels .rsmLevel1 .rsmLink:hover, .RadSiteMap_Sitefinity .rsmManyLevels .rsmLevel2 .rsmLink:hover { color: rgb(18, 92, 177); }
.RadSiteMap_Sitefinity .rsmLink, .RadSiteMap_Sitefinity .rsmTemplate { color: rgb(0, 0, 0); }
.RadSiteMap_Sitefinity .rsmLink:hover { color: rgb(18, 92, 177); text-decoration: underline; }
/* ::::: http://mercurynewmedia.com/Sitefinity/WebsiteTemplates/MNM/App_Themes/MNM/global/Main.css?v=635468383446385255 ::::: */

/* ::::: http://mercurynewmedia.com/Sitefinity/WebsiteTemplates/MNM/App_Themes/MNM/CSS/jquery.fancybox.css ::::: */

.NavigationContainer { float: right; }
.megamenu, .FakeNav { list-style: none outside none; z-index: 9997; padding: 0px; margin: 33px 0px 0px; line-height: 1; position: relative; }
.megamenu li, .FakeNav li { float: left; margin: 0px 12px 0px 0px; border: medium none; }
.megamenu li .drop:hover {  }
.megamenu li .dropcontent { margin: 0px auto; position: absolute; left: -50px ! important; top: 77px; z-index: 9998; text-align: left; background: url('newsbg-drop.jpg') no-repeat scroll left bottom rgb(79, 196, 63); color: rgb(255, 255, 255); padding: 10px; font-size: 1.4em; box-shadow: 0px 12px 15px -5px rgba(0, 0, 0, 0.8); }
.megamenu li:hover .dropcontent { left: 0px; top: 43px; }
.megamenu .drop8columns { width: 640px; }
.megamenu p, .megamenu h1, .megamenu h2, .megamenu h3, .megamenu h4, .megamenu h5, .megamenu h6 { padding: 0px; margin: 0px; color: rgb(255, 255, 255); }
.megamenu p { font-size: 17.5px; line-height: 21px; margin-bottom: 18px; }
.megamenu h4, .megamenu h5, .megamenu h6 { margin-bottom: 5px; }
.megamenu h4 { font-size: 21px; line-height: 24px; }
.megamenu li .dropcontent a, .megamenu li .fullwidth a { text-transform: none; font-size: 16px; display: inline; padding: 0px; }
.megamenu li .dropcontent a:hover, .megamenu li .fullwidth a:hover { padding: 0px; }
.megamenu li ul { list-style: none outside none; padding: 0px; margin: 0px 0px 12px; }
.megamenu li ul li { font-size: 12px; line-height: 24px; position: relative; padding: 0px; margin: 0px; float: none; text-align: left; }
.megamenu li ul li:hover { background: none repeat scroll 0% 0% transparent; border: medium none; }
.megamenu ul.PageLinkList li, .megamenu ul.PageLinkList li a { float: none; display: block; color: white; text-shadow: none; }
.megamenu ul.PageLinkList li a { background-color: rgb(33, 149, 17); display: block; margin-bottom: 3px; padding: 5px; }
.megamenu ul.PageLinkList li a:hover { background-color: rgb(39, 177, 19); padding: 5px; }
.megamenu ul.PageLinkList { float: left; width: 30%; }
.megaMenuContent { float: right; width: 65%; padding: 8px; }
.One .megaMenuContent { width: 50%; margin: 0px; padding: 0px; float: left; }
.One .megaMenuContent .sfnewsList { padding: 10px; }
.One .megaMenuContent .sfnewsList:after { clear: both; content: ""; display: table; }
header nav .megamenu .sfnewsTitle { line-height: 1; }
header nav .megamenu .dropcontent li h4 a { color: white; float: none; font-size: 18px; line-height: 1; padding: 0px; text-shadow: none; text-transform: uppercase; }
header nav .megamenu .sfnewsTitle a:hover { color: rgb(13, 92, 171); }
.One .megaMenuContent .sfnewsList .sfnewsSummary a { font-size: 17.5px; line-height: 21px; }
.One .megaMenuContent .sfnewsList .sfnewsSummary a:hover { color: rgb(13, 92, 171); }
.megamenu div.sfnewsSummary { font-size: 15px; max-height: none; overflow: visible; }
.FakeNav { float: right; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
nav ul { list-style: none outside none; }
a { margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; color: rgb(114, 194, 103); text-decoration: none; }
label { cursor: text; }
input, select { vertical-align: middle; }
body { font-size: 62.5%; line-height: 1.4; width: 100%; background: none repeat scroll 0% 0% rgb(13, 92, 171); font-family: 'trade_gothic_lt_std_cnregular',"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; }
input, textarea, select { font-family: trade_gothic_lt_std_cnregular; font-size: 1.4em; color: rgb(51, 51, 51); }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(179, 212, 252); text-shadow: none; }
img { vertical-align: middle; }
fieldset { border: 0px none; margin: 0px; padding: 0px; }
textarea { resize: vertical; }
.clearfix:after { visibility: hidden; display: block; font-size: 0px; content: " "; clear: both; height: 0px; }
:first-child + html .clearfix {  }
.clearfix {  }
@font-face {
	font-family: "trade_gothic_lt_std_cnbold";
	font-style: normal;
	font-weight: normal;
	src: url('tradegothicltstd-bdcn20-webfont.eot') format("embedded-opentype"), url('tradegothicltstd-bdcn20-webfont.woff') format("woff"), url('tradegothicltstd-bdcn20-webfont.ttf') format("truetype"), url('tradegothicltstd-bdcn20-webfont.svg') format("svg");
}
@font-face {
	font-family: "trade_gothic_lt_std_cnregular";
	font-style: normal;
	font-weight: normal;
	src: url('tradegothicltstd-cn18-webfont.eot') format("embedded-opentype"), url('tradegothicltstd-cn18-webfont.woff') format("woff"), url('tradegothicltstd-cn18-webfont.ttf') format("truetype"), url('tradegothicltstd-cn18-webfont.svg') format("svg");
}
h1, h2, h3, h4, h5, h6 { color: white; font-weight: normal; }
h1 { font-size: 42px; font-weight: normal; font-family: trade_gothic_lt_std_cnbold; line-height: 1; }
.sfContentBlock h1, .sfitemDetails h1 { margin: 0px; padding: 0px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
.sf_MainContentCenter h1, .sf_MainContentWide h1 { font-size: 64px; }
.sf_MainContentCenter h2, .PartnersWrapper h2 { font-size: 30px; margin: 18px 0px 10px; color: rgb(114, 194, 103); line-height: 1; }
.mainContentArea li, .mainContentArea span, .mainContentArea div, .mainContentArea em { font-size: 1em; color: white; }
.mainContentArea p { font-size: 22px; margin-bottom: 22px; line-height: 1.6; }
.mainContentArea ul, .mainContentArea dl, .mainContentArea ol { margin-bottom: 10px; }
.logo { width: 261px; height: 68px; margin: 20px 0px 20px 32px; float: left; }
.logo a { display: block; width: 261px; height: 68px; }
header { background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 100%; z-index: 8009; }
header .headerInnerWrapper { max-width: 1920px; margin: 0px auto; }
header .megamenu { float: left; }
.not-active, .is-active { display: none; }
header nav .megamenu li, .FakeNav li { float: left; display: inline; }
header nav .megamenu li a, .FakeNav li a { float: left; color: rgb(114, 194, 103); text-decoration: none; font-size: 2.2em; text-transform: uppercase; padding: 0.5em 1em; }
header nav .megamenu li a:hover { color: rgb(255, 255, 255); }
header nav .megamenu li:hover a.drop { background: url('newsbg.png') no-repeat scroll center top rgb(78, 196, 62); position: relative; z-index: 99999; color: white; }
header nav .FakeNav li:hover a.fancybox { background: url('newsbg.png') no-repeat scroll center top rgb(78, 196, 62); position: relative; z-index: 99999; color: white; }
.FakeNav > li > a.SearchLink { transition: all 0.3s ease-in-out 0s; }
header nav .megamenu li:hover { color: rgb(255, 255, 255); }
header nav .mobileNavTrigger { display: none; }
header nav div.dropcontent ul li a { color: rgb(255, 255, 255); }
#ClientLogin { display: none; }
.ClientLogin { width: 245px; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 8px; box-shadow: 0px 0px 10px -6px black; background: url('clientloginbg.png') repeat scroll 0px 0px transparent; padding: 10px 10px 15px; }
.ClientLogin h3 { font-size: 18px; color: white; text-align: center; text-transform: uppercase; margin: -10px -10px 15px; background: url('clientloginheaderbg.png') repeat scroll 0px 0px transparent; padding: 10px 0px; border-bottom: 1px solid rgba(0, 0, 0, 0.5); border-radius: 8px 8px 0px 0px; text-shadow: -1px 0px 1px rgb(51, 51, 51); box-shadow: 0px 1px 1px white inset, 0px 1px 1px white inset, 0px 1px 5px -2px black, 0px 1px 5px -2px black; }
.ClientLogin input[type="text"], .ClientLogin input[type="password"] { display: block; padding: 5px 5px 5px 35px; width: 200px; border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.5); background-color: rgba(255, 255, 255, 0.2); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) inset; margin-bottom: 15px; color: rgb(13, 92, 171); font-size: 17px; font-family: trade_gothic_lt_std_cnbold; }
.ClientLogin input[type="text"]:focus, .ClientLogin input[type="password"]:focus { background-color: rgba(0, 0, 0, 0.2); box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4) inset; margin-bottom: 15px; outline: medium none; }
.ClientLogin .Username { background: url('usernamebg.png') no-repeat scroll left center transparent; }
.ClientLogin .Username:focus { background: url('usernamebg-focused.png') no-repeat scroll left center transparent; }
.ClientLogin .Password { background: url('passwordbg.png') no-repeat scroll left center transparent; }
.ClientLogin .Password:focus { background: url('passwordbg-focused.png') no-repeat scroll left center transparent; }
.ClientLogin .ForgotLink { font-size: 16px; text-align: center; text-decoration: none; margin-bottom: 15px; display: block; color: rgb(102, 102, 102); }
.ClientLogin .ForgotLink:hover { color: black; }
.ClientLogin .ClientLoginButton { color: white; font-size: 16px; text-transform: uppercase; padding: 10px 0px; text-align: center; background-color: rgb(67, 168, 61); border: 1px solid white; border-radius: 5px; display: block; width: 100%; cursor: pointer; }
.ClientLogin .ClientLoginButton:hover { box-shadow: 0px 5px 18px rgba(255, 255, 255, 0.3) inset; }
.ClientLogin .ClientLoginButton:active { box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4) inset; }
.sf_MainContentLeft { min-height: 501px; }
.sf_MainContentLeft { float: none; clear: both; margin: 0px; min-height: 0px; width: 100% ! important; }
.main .mainContentArea li.Careers .SecondaryNav h3 { float: right; width: 76%; }
@media screen and (max-width: 1760px) {
}
@media screen and (max-width: 1640px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 767px) {
}
.TechLogoContainer { margin: 0px 0px 0px 5%; width: 72%; float: left; }
.TechLogoContainer ul { width: 100% ! important; margin: 4.5% 0px 0px ! important; }
.TechLogoContainer li { float: left; margin: 0px 0.5% 0px 0px ! important; text-align: center; width: 12%; }
.TechLogoContainer li img { max-width: 100%; }
.FooterContactInfo { width: 18%; float: right; margin-top: 0px; line-height: 34px; padding: 8px 0px 5px; }
.FooterContactInfo li { line-height: 30px; }
.SearchOutterContainer { position: absolute; right: 115px; top: 10px; visibility: hidden; width: 300px; z-index: 9998; }
.SearchContainer { border-radius: 10px 0px 0px 10px; min-height: 80px; padding-top: 5px; padding-left: 7px; width: 300px; }
.SearchContainer fieldset, .SearchContainerVisible fieldset { margin-left: 10px; }
.SearchContainer input[type="text"], .SearchContainerVisible input[type="text"] { width: 200px; padding: 10px; margin: 13px 0px 0px; box-shadow: 0px 0px 8px -2px rgb(85, 85, 85) inset; border: 5px solid rgb(13, 92, 171); border-radius: 8px 0px 0px 8px; float: left; font-size: 20px; }
.SearchContainer input[type="submit"], .SearchContainerVisible input[type="submit"] { margin: 13px 0px 0px; padding: 0px; display: block; text-indent: -9999px; background: url('searchicon3.png') no-repeat scroll center center rgb(13, 92, 171); border: medium none; width: 45px; height: 54px; cursor: pointer; border-radius: 0px 8px 8px 0px; position: relative; z-index: 9999; left: -2px; }
@media not all {
	.SearchContainer input[type="text"], .SearchContainerVisible input[type="text"] { margin-top: 0px ! important; }
}
.SideNav * { transition: all 0.35s ease-in-out 0s; }
.SideNav { display: none; position: relative; }
.SideNav:first-child { background-color: rgb(8, 57, 108); top: 0px; z-index: 8008; width: 100%; }
.SideNav ul li.TopLevel { display: table-cell; vertical-align: middle; }
.SideNav ul li.FixedHomeItem.TopLevel { display: none; }
.SideNav ul li.FixedHomeItem.TopLevel a { margin-left: -10px; overflow: hidden; padding: 14px 0px 8px; width: 0px; }
.NewMobileNav { display: none; }
.NewMobileNav .CleanNav { display: block; position: absolute; top: 80px; width: 100%; z-index: 9999; }
.NewMobileNav .CleanNav li a { color: white; }
.NewMobileNav .CleanNav li ul li a { padding-left: 35px; }
.NewMobileNav .CleanNav li ul li li a { padding-left: 45px; }
.CleanNav ul li.parent { background: url('mobiledownarrow.png') no-repeat scroll right top rgb(9, 74, 154); }
.SideNav ul.NavList { margin: 0px auto; display: table; width: 100%; }
.SideNav ul li:nth-child(2) { top: 92px; }
.SideNav ul li:first-child + li { top: 92px; }
.SideNav ul li:nth-child(3) { top: 184px; }
.SideNav ul li:first-child + li + li { top: 184px; }
.SideNav ul li:nth-child(4) { top: 276px; }
.SideNav ul li:first-child + li + li + li { top: 276px; }
.SideNav ul li:nth-child(5) { top: 367px; }
.SideNav ul li:first-child + li + li + li + li { top: 367px; }
.SideNav ul > li > a:hover, .SideNav ul > li.CurrentFilter a { background-color: rgb(114, 194, 103); }
.SideNav ul > li > a:hover { background-color: rgba(255, 255, 255, 0.2); }
.SideNav li.TopLevel > a span { padding-left: 45px; display: inline-block; margin: 0px auto; }
.SideNav li.About > a span { background: url('sidenavicons.png') no-repeat scroll left 3px / 40% auto transparent; }
.SideNav li.Portfolio > a span { background: url('sidenavicons.png') no-repeat scroll left -66px / 34% auto transparent; }
.SideNav li.Quote > a span { background: url('sidenavicons.png') no-repeat scroll left -121px / 44% auto transparent; }
.SideNav li.Careers > a span { background: url('sidenavicons.png') no-repeat scroll left -210px / 40% auto transparent; }
.SideNav li.Contact > a span { background: url('sidenavicons.png') no-repeat scroll left -267px / 40% auto transparent; }
.SideNav li.Blog > a span { background: url('sidenavicons.png') no-repeat scroll left -332px / 55% auto transparent; }
.SideNav ul li.TopLevel > a { padding: 20px 0px; font-size: 24px; color: rgb(255, 255, 255); text-decoration: none; display: block; text-transform: uppercase; text-align: center; font-family: 'trade_gothic_lt_std_cnbold',sans-serif; }
.SecondaryNav { display: none; margin-left: 0px; margin-top: 0px; padding: 0px 10px; background-color: rgb(114, 194, 103); position: absolute; z-index: 10005; box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.3); width: 98.9%; left: 0px; top: 73px; }
.SideNav ul li.TopLevel:hover > a { background-color: rgb(114, 194, 103); }
.SideNav ul.NavList > li.TopLevel:hover .SecondaryNav { display: block; padding: 10px; }
.SideNav ul.NavList > li.TopLevel:hover .SecondaryNav .SecondLevel { display: table; background-color: rgba(255, 255, 255, 0.2); border-radius: 8px; }
.SecondaryNav ul li { background: none repeat scroll 0% 0% transparent; }
.SecondaryNav ul li ul li { float: none; position: static; padding: 0px; margin: 0px; }
.main .mainContentArea .SecondaryNav h3 { color: white; font-size: 20px; font-weight: normal; margin: 5px 0px 10px 25px; visibility: hidden; width: 74%; }
.SecondaryNav .SecondLevel, .SecondaryNav .ThirdLevel { list-style: none outside none; display: none; width: 74%; margin: 0px 0px 0px 25px; visibility: hidden; }
li.Careers .SecondaryNav .SecondLevel { float: right; margin: 0px 25px 0px 0px; }
.SecondaryNav .SecondLevel li { background: none repeat scroll 0% 0% transparent; padding: 0px; }
.SecondaryNav .ThirdLevel li { background: none repeat scroll 0% 0% transparent; padding: 0px 0px 0px 8px; }
.SecondaryNav .SecondLevel li > a { display: inline-block; padding: 15px 10px; text-align: center; }
.SecondaryNav .SecondLevel li a, .SecondaryNav .SecondLevel li { color: white; text-decoration: none; font-size: 18px; display: block; width: auto; float: none; }
.SecondaryNav .SecondLevel li { width: 20%; display: table-cell; float: left; }
.About .SecondaryNav .SecondLevel li a span, .Careers .SecondaryNav .SecondLevel li a span { position: relative; }
.About .SecondaryNav .SecondLevel li a span:before, .Careers .SecondaryNav .SecondLevel li a span:before { content: url('arrow-right-white-10px.png'); position: absolute; left: -15px; bottom: -1px; }
.SecondaryNav .ThirdLevel { margin: 5px 0px 10px; display: none ! important; }
.SecondaryNav .ThirdLevel li, .SecondaryNav .ThirdLevel li a { font-size: 15px; }
.SecondaryNav .ThirdLevel li a { color: white; }
.About .SecondaryNav .ThirdLevel li a span, .Careers .SecondaryNav .ThirdLevel li a span { position: inherit; }
.About .SecondaryNav .ThirdLevel li a span:before, .Careers .SecondaryNav .ThirdLevel li a span:before { content: none; position: inherit; left: 0px; bottom: 0px; }
.SideNav ul.NavList > li.TopLevel.Portfolio:hover .SecondaryNav { display: none; }
.CleanNav { display: none; }
.RadSiteMap .rsmFlow { padding-left: 0px; }
.RadSiteMap_Sitefinity .RadSiteMap .rsmFlow, .RadSiteMap .rsmOneLevel .rsmItem .rsmLink, .mainContentArea .sfBreadcrumbNodeSeparator { color: rgb(114, 194, 103); font-family: trade_gothic_lt_std_cnregular; font-size: 14px; padding-left: 0px; text-transform: uppercase; }
.RadSiteMap .rsmFlow .rsmLink:hover { color: white; text-decoration: none; }
.main { background: none repeat scroll 0% 0% rgb(13, 92, 171); float: left; width: 100%; padding: 0px; box-shadow: 0px 10px 8px -8px rgba(0, 0, 0, 0.4) inset; }
.main .mainInnerWrapper { margin: 0px auto; }
.main .mainContentArea { width: 100%; float: left; color: rgb(255, 255, 255); }
.CenterWrapper, .sf_MainContentWide { background-color: rgba(255, 255, 255, 0.1); box-sizing: border-box; clear: both; margin: 0px auto; padding: 60px 40px; width: 84% ! important; }
.CenterWrapper { padding: 30px 0px 60px 40px; }
.TertNavigation { background-color: rgba(255, 255, 255, 0.2); box-sizing: border-box; clear: both; margin: 0px auto; padding: 20px 40px 12px 25px; width: 84% ! important; }
.TertNav a { font-size: 18px; margin-right: 1px; padding: 5px 15px; text-transform: uppercase; transition: all 0.35s ease-in-out 0s; }
.TertNav a:hover { background-color: rgb(114, 194, 103); color: white; }
.TertNav.sfNavWrp .sfSel { color: white; font-family: trade_gothic_lt_std_cnbold; font-weight: normal; }
.TertNav.sfNavWrp .sfSel:hover { background-color: transparent; }
.sf_MainContentCenter { width: 60% ! important; }
.sf_MainContentRight { width: 40% ! important; }
.sf_MainContentCenter .sf_2cols_1in_50, .sf_MainContentCenter .sf_2cols_1in_67 { padding-right: 30px; }
.sf_MainContentRight .sf_2cols_2in_50, .sf_MainContentRight .sf_2cols_2in_33 { border-left: 1px solid rgba(0, 0, 0, 0.3); }
.main .mainContentArea h3 { color: rgb(114, 194, 103); font-size: 24px; margin: 15px 0px 8px; }
.main .right { float: left; padding: 0px 0px 10px; }
.main .right li:nth-child(6) { display: none; }
.sfnewsList { margin-left: 15px; }
.sfnewsListItem { list-style: none outside none; margin-bottom: 8px; padding-bottom: 8px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
.sfnewsTitle { margin: 0px; padding: 5px 8px; }
.sfnewsTitle a { color: white; font-size: 24px; text-decoration: none; font-weight: normal; line-height: 1; }
.sfnewsListItem:after { visibility: hidden; display: block; content: ""; clear: both; height: 0px; }
div.sfnewsSummary { font-size: 20px; line-height: 1.15em; min-height: 72px; overflow: hidden; }
div.sfnewsSummary a { color: white; }
div.sfnewsSummary a:hover { color: rgb(114, 194, 103); }
.sfnewsList li:first-child { border-left: medium none; }
.sfnewsList li:last-child { border-right: medium none; padding-right: 0px; }
.PortfolioBackLink a { background: url('backtoportfolio.png') no-repeat scroll left top transparent; display: block; width: 242px; height: 57px; margin: 20px 0px 0px 10px; }
.SideNav li.About .SecondLevel li, .SideNav li.Careers .SecondLevel li { width: 24%; }
.SideNav li.Portfolio .SecondLevel li { background: none repeat scroll 0% 0% transparent; padding: 0px; width: 16%; }
.SecondaryNav .SecondLevel li.Award > a > span { background: url('awardicon.png') no-repeat scroll left top transparent; padding-left: 30px; }
.SecondaryNav .SecondLevel li.Professional > a > span { background: url('professionalicon.png') no-repeat scroll left top transparent; padding-left: 30px; }
.SecondaryNav .SecondLevel li.WebApps > a > span { background: url('webappsicon.png') no-repeat scroll left top transparent; padding-left: 30px; }
.SecondaryNav .SecondLevel li.Mobile > a > span { background: url('mobileicon.png') no-repeat scroll left top transparent; padding-left: 30px; }
.SecondaryNav .SecondLevel li.Nets > a > span { background: url('netsicon.png') no-repeat scroll left top transparent; padding-left: 30px; }
.SecondaryNav .SecondLevel li.EComm > a > span { background: url('ecommicon.png') no-repeat scroll left top transparent; padding-left: 30px; }
.PortfolioReset { background: url('portfolioviewall.png') no-repeat scroll 0px 0px transparent; display: block; padding: 0px; margin: 10px auto; width: 130px; height: 50px; text-indent: -9999px; }
.PortfolioReset:hover { background: url('portfolioviewall-hover.png') no-repeat scroll 0px 0px transparent; }
.SocialWrapper { position: absolute; top: 0px; height: 1px; width: 388px; margin-left: -193px; left: 50%; z-index: 1; }
footer .SocialWrapper { display: none; }
.rotateArrowLeft { background: url('undefined') no-repeat scroll center center rgba(0, 0, 0, 0.35); border-radius: 3px 0px 0px 3px; cursor: pointer; height: 35px; position: fixed; margin-left: -17px; padding: 5px; right: 0px; top: 220px; width: 35px; }
.rotateArrowLeft span { display: none; color: white; font-size: 15px; padding: 5px 0px 0px 5px; float: left; }
.rotateArrowRight img, .rotateArrowLeft img { display: none; margin: 5px 0px 0px 8px; float: left; }
#socialShare .st_facebook_large .stButton .stLarge { background-image: url('share-facebook.png') ! important; background-position: 0px 0px ! important; }
#socialShare .st_googleplus_large .stButton .stLarge { background-image: url('share-googleplus.png') ! important; background-position: 0px 0px ! important; }
#socialShare .st_delicious_large .stButton .stLarge { background-image: url('share-delicious.png') ! important; background-position: 0px 0px ! important; }
#socialShare .st_twitter_large .stButton .stLarge { background-image: url('share-twitter.png') ! important; background-position: 0px 0px ! important; }
#socialShare .st_linkedin_large .stButton .stLarge { background-image: url('share-linkedin.png') ! important; background-position: 0px 0px ! important; }
#socialShare .st_email_large .stButton .stLarge { background-image: url('share-email.png') ! important; background-position: 0px 0px ! important; }
#ContactFormContainer { display: none; max-width: 645px; width: 645px; }
#QuoteFormContainer { display: none; max-width: 645px; }
.sfFieldWrpSpecial { position: absolute; left: -9000px; }
#QuoteFormContainer h2 { color: rgb(13, 92, 171); font-size: 3em; }
#QuoteFormContainer p { font-size: 1.6em; color: rgb(51, 51, 51); margin-bottom: 20px; }
#QuoteFormContainer label { display: none; }
#QuoteFormContainer .sfFormCheckboxlist input { width: auto; }
#QuoteFormContainer .sfFormCheckboxlist label { display: block; font-size: 16px; }
#QuoteFormContainer .sfFormCheckboxlist { padding-bottom: 15px; }
#QuoteFormContainer .sfTxtLbl { font-size: 18px; margin-top: -40px; padding-bottom: 10px; }
#QuoteFormContainer input { padding: 3px; width: 90%; float: left; clear: left; }
#QuoteFormContainer textarea { padding: 3px; width: 90%; float: left; margin-bottom: 10px; }
.ContactPage h2, .QuoteForm h2 { font-size: 54px; }
#ContactFormContainer h2 { color: rgb(13, 92, 171); font-size: 3em; }
#ContactFormContainer p { font-size: 1.6em; color: rgb(51, 51, 51); margin-bottom: 5px; }
#ContactFormContainer p + a, .ContactPage p + a { font-size: 16px; margin: 0px; padding: 0px 0px 5px; display: block; }
#ContactFormContainer label { display: none; }
#ContactFormContainer input { padding: 3px; width: 90%; float: left; clear: left; }
.ContactPage label, .QuoteForm .left label, .QuoteForm .additionalInformation label { display: none ! important; }
.QuoteForm .right label { display: block; font-size: 16px; }
.QuoteForm .right .sfTxtLbl { font-size: 18px; margin-bottom: 10px; }
.QuoteForm .right .sfFormCheckboxlist { margin-bottom: 10px; }
.QuoteForm .right input[type="checkbox"] { float: left; }
.QuoteForm .right input[type="submit"] { width: 93%; margin-top: 5px; }
.QuoteForm .left input, .QuoteForm .right textarea { float: left; width: 90%; padding: 3px; margin-bottom: 7px; }
#ContactFormContainer textarea { width: 90%; }
#ContactFormContainer div.right p { color: rgb(13, 92, 171); font-size: 1.8em; }
#ContactFormContainer li, .ContactPage .right li { list-style-type: none; font-size: 1.6em; margin-bottom: 5px; }
div.firstName { float: left; margin-bottom: 10px; clear: left; width: 100%; }
div.lastName { float: left; margin-bottom: 10px; clear: left; width: 100%; }
div.email { float: left; margin-bottom: 10px; clear: left; width: 100%; }
div.organization { float: left; margin-bottom: 10px; clear: left; width: 100%; }
div.phone { float: left; margin-bottom: 10px; clear: left; width: 100%; }
div.questions { float: left; clear: left; width: 100%; margin-bottom: 10px; }
footer { clear: left; float: left; background: url('footerbgrepeat2.png') repeat scroll 0% 0% rgb(234, 234, 234); border-bottom: 5px solid rgb(13, 92, 171); box-shadow: 0px -10px 8px -8px rgba(0, 0, 0, 0.4); position: relative; width: 100%; }
footer .footerInnerWrapper { margin: 0px auto; max-width: 1920px; position: relative; }
footer .left { position: relative; }
footer a { color: rgb(82, 82, 82); text-decoration: none; }
footer a:hover { color: rgb(13, 92, 171); }
footer a[href*="mailto"] { color: rgb(13, 92, 171); }
footer a[href*="mailto"]:hover { color: rgb(114, 194, 103); }
footer li { font-size: 1.5em; color: rgb(82, 82, 82); list-style-type: none; }
footer .tweetsDiv {  }
.SocialShareVisible > span { width: 100px ! important; height: 100px ! important; padding: 10px; margin: 1px; display: block; float: left; }
.SocialShareVisible span span { background-size: 100% auto; width: 100% ! important; height: 100% ! important; }
footer .right ul { float: right; margin-right: 30px; margin-top: 25px; text-align: right; }
footer .right li { list-style-type: none; margin-bottom: 10px; }
.SocialShareVisible { background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.35); border-radius: 3px 0px 0px 3px; display: none; right: 0px; padding: 10px; position: fixed; top: 265px; width: 732px; z-index: 9999; }
.SocialShareVisible .st_email_large span, .SocialShareVisible .st_email_large { margin-bottom: 0px ! important; }
.SocialShareVisible .right { display: none; }
footer aside { width: auto; height: 150px; overflow: hidden; margin: 10px 0px 10px 5px; background-size: 105% 112%; }
footer aside ul.FlipperContainer { padding: 0px; width: 99%; overflow: hidden; float: left; }
footer aside ul.FlipperContainer li { display: block; float: none; height: 160px; width: 100%; margin: 0px; padding: 0px; }
ul.FlipperPager { float: right; margin-top: -4px; width: 1%; }
ul.FlipperPager li { float: none; width: 6px; height: 54px; background-color: rgb(169, 172, 176); margin-bottom: 2px; }
ul.FlipperPager li.CurrentFlip { background-color: rgb(46, 161, 27); }
.BlogTitle a, .BlogText, .TwitterText { display: block; clear: both; font-size: 22px; color: rgb(13, 92, 171); text-align: left; padding: 1% 5% 0px; }
.BlogText { height: 60px; overflow: hidden; margin-bottom: 5px; }
.AppLink:hover, .BlogTitle a:hover, .BlogText:hover, .TwitterText:hover { color: rgb(114, 194, 103); }
.BlogLink, .TwitterLink { width: 178px; height: 30px; display: block; padding: 10px 0px 0px 23px; color: rgb(13, 92, 171); font-size: 16px; }
.BlogLink:hover, .TwitterLink:hover { color: rgb(114, 194, 103); }
.BlogLink { background: url('devblog.png') no-repeat scroll left center transparent; }
.TwitterLink { background: url('twitter.png') no-repeat scroll left center transparent; clear: both; }
.Tagline span:nth-of-type(3) { border: medium none; padding-right: 2%; }
.CalloutPartners img:nth-of-type(2n+2) { margin: 0px auto 10px; }
.CalloutPartners .Partnerships img:nth-of-type(3) { margin: 0px auto 10px; }
.CalloutPartners img:nth-of-type(7), .CalloutPartners img:nth-of-type(6) { margin-bottom: 0px; }
.main .mainContentArea .CaseStudySide { margin: 35px 15px 0px; padding: 1px 15px 5px 20px; transition: all 0.35s ease-in-out 0s; max-width: 500px; }
.main .mainContentArea .CaseStudySide:hover { background-color: rgba(0, 0, 0, 0.3); }
.main .mainContentArea .CaseStudySide h3 { color: white; margin: 15px 0px 12px; line-height: 1.2; font-size: 32px; }
.CaseStudySide img { width: 100%; max-width: 500px; }
.mainContentArea .CalloutList li:nth-of-type(6) { display: block; }
.sf_2cols_2_50 .sf_2cols_2in_50 { margin-left: 0px; }
.BreadcrumbContainer { clear: both; margin: 0px auto; padding: 6px 0px; width: 84%; }
body.sfPageEditor, body.sfPageEditor > form, .sfPageEditor .main, .sfPageEditor .main div:not(.SideNav) { height: auto; }
@media only screen and (min-width: 1750px) and (max-width: 1980px) {
}
@media only screen and (min-width: 1616px) and (max-width: 1690px) {
}
@media only screen and (min-width: 1616px) and (max-width: 1690px) and (max-width: 1625px) {
}
@media only screen and (min-width: 1616px) and (max-width: 1690px) {
	.SecondaryNav { top: 70px; }
	.SecondaryNav .SecondLevel li a, .SecondaryNav .SecondLevel li { font-size: 16px; }
	.HomePanel .sfnewsListItem:last-child, .HomePanel .sfnewsListItem:nth-child(11n) { display: none; }
}
@media only screen and (min-width: 1486px) and (max-width: 1615px) {
	.SecondaryNav { padding-bottom: 0px; padding-top: 0px; }
	.main .right li:nth-child(6) { display: block; }
	footer .left { width: 36% ! important; }
	footer .right { width: 24% ! important; }
	.CalloutPartners img:nth-of-type(4) { margin-right: 0px; }
}
@media only screen and (min-width: 1485px) and (max-width: 1580px) {
}
@media only screen and (min-width: 1241px) and (max-width: 1484px) {
	header nav .megamenu li a, .FakeNav li a { font-size: 2em; padding: 0.5em 0.5em 0.75em; }
	.megamenu .drop8columns { width: 480px ! important; }
	.TechLogoContainer ul { margin: 10px 0px 0px ! important; }
	footer aside ul.FlipperContainer { padding: 0px; width: 98%; height: 160px; overflow: hidden; float: left; }
	ul.FlipperPager { float: right; margin-top: -4px; margin-left: 0px; }
	.BlogTitle a, .BlogText, .TwitterText { font-size: 18px; }
	footer li { font-size: 16px; }
	.TechLogoContainer { margin: 0px 0px 0px 3%; width: 70%; float: left; }
	.FooterContactInfo { width: 27%; float: right; margin-top: 5px; line-height: 34px; }
	.TechLogoContainer li { width: 23%; }
	.CalloutPartners img:nth-of-type(4) { margin-right: 0px; }
}
@media only screen and (min-width: 767px) and (max-width: 1241px) {
	header nav li a.drop, header nav li a.fancybox, header nav li a.SearchLink { padding: 0.5em 0.3em 0.75em ! important; font-size: 2em ! important; }
	.megamenu li, .FakeNav li { margin: 0px 7px 0px 0px ! important; }
	.megamenu li.sfnewsListItem { margin: 0px ! important; }
	.main { box-sizing: border-box; padding: 0px; }
	.main .mainContentArea { float: none; width: auto; }
	.sf_MainContentLeft { width: 100% ! important; float: left; min-height: 0px; }
	.sf_MainContentCenter { width: auto ! important; clear: both; padding-top: 0px; }
	.sf_MainContentRight { width: 100% ! important; background: none repeat scroll 0% 0% rgb(11, 80, 160); margin-top: 20px; }
	.sfBreadcrumbWrp { width: 80%; margin: 0px auto; padding: 20px 40px 20px 0px; }
	.SideNav ul li.TopLevel { width: 16.65%; }
	.SideNav ul li.TopLevel > a { padding: 18px 0px; font-size: 2em; color: white; text-decoration: none; display: block; height: auto; text-transform: uppercase; }
	.SideNav li.TopLevel > a span { padding-left: 25px; }
	.SideNav li.About > a span { background: url('sidenavicons.png') no-repeat scroll left 4px / 40% auto transparent; }
	.SideNav li.Portfolio > a span { background: url('sidenavicons.png') no-repeat scroll left -40px / 30% auto transparent; }
	.SideNav li.Quote > a span { background: url('sidenavicons.png') no-repeat scroll left -84px / 44% auto transparent; }
	.SideNav li.Careers > a span { background: url('sidenavicons.png') no-repeat scroll left -126px / 35% auto transparent; }
	.SideNav li.Contact > a span { background: url('sidenavicons.png') no-repeat scroll left -169px / 35% auto transparent; }
	.SideNav li.Blog > a span { background: url('sidenavicons.png') no-repeat scroll left -185px / 45% auto transparent; }
	.SideNav ul li { background: none repeat scroll 0% 0% transparent; float: left; display: inline; }
	.SideNav ul li a { font-size: 3em; padding: 3px 0px 4px 90px; text-transform: uppercase; }
	.SideNav .About > a { background-position: -2px 0px ! important; }
	.SideNav .Portfolio { width: 22%; }
	.SideNav .Portfolio > a { background-position: -3px -46px ! important; }
	.SideNav .Quote { width: 18%; }
	.SideNav .Quote > a { background-position: -1px -91px ! important; }
	.SideNav .Contact { width: 21%; }
	.SideNav .Contact > a { background-position: -2px -182px ! important; }
	.TabletHide, .AppContainer { display: none; }
	.SideNav .Careers > a { background-position: -2px -141px ! important; }
	.SecondaryNav { left: 0px; top: 52px; z-index: 9999; height: auto; background-color: rgb(22, 141, 222); box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.3) inset; width: 99%; padding: 5px 0px 5px 1%; margin-left: 0px; }
	.SecondaryNav .SecondLevel li { background: url('secondarynavarrow.png') no-repeat scroll left 7px transparent; padding: 0px 10px 0px 5px; }
	.SecondaryNav .SecondLevel { margin-bottom: 0px; }
	.mainContentArea ul, .mainContentArea dl, .mainContentArea ol { margin-bottom: 0px ! important; }
	.CleanNav {  }
	.CleanNav ul li { background: none repeat scroll 0% 0% rgb(9, 74, 154); }
	.CleanNav ul li a { padding: 10px 10px 10px 20px; border-top: 1px solid rgb(15, 88, 178); border-bottom: 1px solid rgb(8, 60, 124); width: 100%; display: block; box-sizing: border-box; font-size: 20px; }
	.TopLevel .SecondaryNav { display: none ! important; }
	.InnerSecondLevel { display: none; box-shadow: 0px 7px 7px -5px rgba(0, 0, 0, 0.2) inset; padding-top: 1px; margin-top: 4px; }
	.RadSiteMap_Sitefinity { margin-left: 17px; margin-top: 10px; display: block; }
	.RadSiteMap_Sitefinity .rsmLink { font-size: 16px; color: rgb(114, 194, 103) ! important; }
	.RadSiteMap_Sitefinity .rsmLink:hover { color: rgb(255, 255, 255); text-decoration: none; }
	.sf_MainContentCenter { max-width: 100%; }
	.sf_MainContentCenter h1 { text-align: center; padding: 0px 0px 10px; }
	.main .right { padding: 40px 0px; }
	.main .right .sfContentBlock { width: 95%; }
	.main .right li:nth-child(2) { margin-right: 0px; float: right; }
	.main .right li:nth-child(6) { display: block; }
	footer { margin-top: 0px; padding-top: 30px; }
	footer .left { display: none; }
	footer .right { width: 40% ! important; }
	footer .right ul { margin-top: 20px; margin-bottom: 10px; }
	footer .right li { margin-bottom: 5px; }
	.SocialGraphics { width: 50%; }
	.TechInfoGraphics { float: left; width: 50%; }
	.TechLogoContainer { margin: 0px 5%; width: auto; float: none; }
	.FooterContactInfo { display: none; }
	.TechLogoContainer li { float: left; margin: 2% 7% 5% 0px ! important; text-align: center; width: 18%; }
	.megamenu .drop8columns { width: 423px ! important; }
	.mainContentArea .CalloutList li:nth-of-type(2) { float: left; }
	.sf_MainContentRight .Callout { margin-top: 0px; }
	.RadSiteMap_Sitefinity .rsmOneLevel .rsmLink { color: rgb(114, 194, 103); }
	.RadSiteMap_Sitefinity .rsmOneLevel .rsmLink:hover { color: white; }
	.hideNav { display: none; }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}
@media only screen and (min-width: 1px) and (max-width: 766px) {
	body { overflow-x: hidden; }
	header { padding-bottom: 20px; position: static; }
	header .logo { background-size: contain; height: auto; margin: 20px 0px 0px 10px; width: 60%; }
	header .logo svg:not(root) { height: 43px; max-width: 100%; }
	.logo a { display: block; height: 40px; width: auto; }
	header .megamenu { float: left; width: 100%; margin-top: 0px; }
	.megamenu ul.PageLinkList { float: left; width: 100% ! important; }
	header .megamenu li { background: url('arrowdown.png') no-repeat scroll 94% center rgb(86, 146, 77); }
	header .megamenu li.One, header .megamenu li.One.active { background: none repeat scroll 0% 0% rgb(114, 194, 103); }
	header .megamenu li ul li { background: none repeat scroll 0% 0% rgb(114, 194, 103); }
	.megamenu li:hover .dropcontent { border: 0px none ! important; }
	header nav .megamenu li:hover a.drop { border: 0px none ! important; background: none repeat scroll 0% 0% rgb(114, 194, 103); }
	header .megamenu li:hover { border-width: 0px 0px 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
	header .megamenu li .drop { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(114, 194, 103); width: 80%; padding: 3%; }
	header nav .megamenu li a.drop { border: 0px none; }
	header nav .megamenu li a.drop:hover { border: 0px none; }
	header .megamenu li .drop:hover { background: none repeat scroll 0% 0% rgb(114, 194, 103) ! important; border: 0px none; }
	header nav .mobileNavTrigger { height: 40px; width: 100px; margin: 15px 5px 0px 0px ! important; display: block; float: right; background-size: 100px auto; }
	header nav .mobileNavTrigger .not-active { display: block; }
	header nav .mobileNavTrigger svg:not(:root) { height: auto; width: 100%; }
	.NavigationContainer { float: none ! important; }
	.megamenu li .drop:hover { background-color: rgb(114, 194, 103); background-repeat: repeat; background-attachment: scroll; background-position: 0% 0%; background-clip: border-box; background-origin: padding-box; background-size: auto auto; background-image: none ! important; }
	header nav .megamenu > li { margin-top: 0px; border-bottom: 1px solid rgb(255, 255, 255); }
	nav .megamenu { overflow: hidden; }
	.megamenu li .dropcontent { position: static ! important; top: 0px ! important; left: auto ! important; width: 100% ! important; padding: 0px ! important; display: none; float: left; }
	.megamenu li ul { margin: 0px ! important; }
	.megamenu li ul li { display: block; float: left ! important; border-left: 5px solid rgb(13, 92, 171); border-bottom: medium none; }
	.megamenu li ul li:active { border-left: 5px solid rgb(13, 92, 171) ! important; }
	.megamenu li ul li a { display: block ! important; color: rgb(255, 255, 255); float: none; font-size: 1.8em ! important; padding: 0.5em 1em ! important; text-transform: uppercase ! important; }
	.megaMenuContent { display: none; }
	.FakeNav { display: none; }
	header .hideNav { background: none repeat scroll 0% 0% rgb(255, 255, 255); display: none; float: left; width: 100%; }
	header nav li { display: block; width: 100%; }
	header nav li a { font-size: 1.8em; padding: 0.5em 0.2em; }
	.main { float: none; margin-top: 0px; min-height: 0px; padding: 0px; width: auto; }
	.sf_MainContentLeft { float: left; min-height: 0px; width: 100% ! important; }
	.sf_MainContentCenter { width: 100% ! important; }
	.sf_MainContentRight { background: none repeat scroll 0% 0% rgb(11, 80, 160); width: 100% ! important; }
	.SideNav { background-color: rgb(9, 74, 154) ! important; padding: 0px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) inset; }
	.NavList { display: table; padding: 10px 0px; }
	.SideNav:first-child { background: none repeat scroll 0% 0% transparent; height: auto; position: static; }
	.SideNav ul li.TopLevel { background: none repeat scroll 0% 0% transparent; width: 17%; height: auto; position: static; float: none; margin: 0px; display: table-cell; }
	.SideNav ul li.TopLevel > a { color: white; display: block; font-size: 2.3em; height: auto; line-height: 1; margin: 0px auto; padding: 2px 0px 0px; width: 26px; text-decoration: none; text-indent: -9999px; text-transform: uppercase; }
	.SideNav ul li.About > a, .SideNav ul li.About > a:active { background: url('undefined') repeat scroll 0px 0px transparent; }
	.SideNav ul li.Portfolio > a { background: url('undefined') repeat scroll 56px 0px transparent; }
	.SideNav ul li.Quote > a { background: url('undefined') repeat scroll 28px 0px transparent; }
	.SideNav ul li.Careers > a { background: url('undefined') repeat scroll -54px 0px transparent; }
	.SideNav ul li.Contact > a { background: url('undefined') repeat scroll 80px 0px transparent; }
	.SideNav ul li.Blog > a { background: url('undefined') repeat scroll -27px 0px transparent; }
	.SideNav ul li.TopLevel > a:active { color: rgb(114, 194, 103); }
	.SecondaryNav { left: 0px; top: 50px; width: 100%; z-index: 9999; height: auto; background-color: rgb(22, 141, 222); box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.3) inset; display: none ! important; }
	.SecondaryNav h3 { display: none; }
	.InnerSecondLevel { display: none; }
	.SecondaryNav .SecondLevel li { float: left; padding-left: 5px; margin-right: 10px; background: url('secondarynavarrow.png') no-repeat scroll left 5px transparent; }
	.SecondaryNav .SecondLevel li > a { padding: 0px 6px ! important; margin-left: 8px ! important; }
	.SecondaryNav .ThirdLevel { position: absolute; width: 295px; left: 10px; top: 23px; background-color: rgba(0, 0, 0, 0.4); margin-left: 0px; padding: 5px; }
	.SecondaryNav .ThirdLevel li { float: left; list-style: none outside none; }
	.TabletHide { display: none; }
	.CleanNav {  }
	.CleanNav ul li { background: none repeat scroll 0% 0% rgb(9, 74, 154); }
	.CleanNav ul li a { border-top: 1px solid rgb(15, 88, 178); border-bottom: 1px solid rgb(8, 60, 124); box-sizing: border-box; display: block; font-size: 20px; padding: 10px 10px 10px 20px; width: 100%; }
	.BreadcrumbContainer { margin: 0px; }
	.RadSiteMap_Sitefinity { margin-left: 17px; }
	.RadSiteMap_Sitefinity .rsmLink { font-size: 16px; color: rgb(114, 194, 103) ! important; }
	.RadSiteMap_Sitefinity .rsmLink:hover { color: rgb(255, 255, 255); text-decoration: none; }
	.mainContentArea ul, .mainContentArea dl, .mainContentArea ol { margin-bottom: 0px ! important; }
	.TopLevel .SecondaryNav { display: none ! important; }
	.TertNavigation { display: none; }
	.main .mainInnerWrapper { max-width: none; }
	.main { box-sizing: border-box; padding: 0px; }
	.main .mainContentArea { float: none; width: auto; }
}
@media only screen and (min-width: 1px) and (max-width: 766px) and (min-width: 440px) and (max-width: 767px) {
}
@media only screen and (min-width: 1px) and (max-width: 766px) {
	.SecondaryNav .SecondLevel { margin-bottom: 0px; }
	.sf_MainContentCenter { width: 100%; }
	.sf_MainContentCenter h1 { padding: 10px 0px; }
	.sfContentBlock h1 { margin-top: 10px; }
	.main .right { padding-bottom: 0px; padding-top: 10px; }
	.main .right li:nth-child(6) { display: block; }
	footer { border: medium none; box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2); position: relative; }
	footer .left { display: none; }
	footer .right { width: 40% ! important; }
	footer .right ul { margin-top: 20px; margin-bottom: 10px; }
	.footerInnerWrapper { height: auto; }
	.footerInnerWrapper div, .footerInnerWrapper .sf_2cols_2in_75 { margin: 0px; }
	.rotateArrowLeft { display: none; }
	.footerInnerWrapper .SocialGraphics { display: none; }
	.footerInnerWrapper .TechInfoGraphics { float: none; width: auto; }
	.footerInnerWrapper .TechLogoContainer { background-color: rgb(85, 85, 85); box-sizing: border-box; display: none; margin: auto; padding: 10px; width: auto; }
	.TechLogoContainer ul { background-color: rgba(255, 255, 255, 0.1); border-radius: 2px; margin: 0px ! important; padding: 3px 5px 0px; width: auto ! important; }
	.TechLogoContainer ul:after { clear: both; content: ""; display: table; }
	.TechLogoContainer li { box-sizing: border-box; float: left; margin: 0px ! important; min-height: 69px; text-align: center; width: 25%; }
	.FooterContactInfo { clear: both; display: block; float: none; margin-top: 15px; width: 100%; }
	.FooterContactInfo li { line-height: 26px; font-size: 18px; padding-left: 25px; }
	.FooterContactInfo li:first-child, .FooterContactInfo li:first-child + li, .FooterContactInfo li:last-child { display: none; }
	footer .right li { margin-bottom: 5px; font-size: 1.3em; }
	.sf_2cols_1_50 { width: 100% ! important; }
	.sf_2cols_2_50 { width: 100% ! important; }
}
@media only screen and (min-width: 1px) and (max-width: 766px) and (max-width: 755px) and (min-width: 605px) {
}
@media only screen and (min-width: 1px) and (max-width: 766px) {
}
@media only screen and (min-width: 1px) and (max-width: 766px) and (max-width: 605px) {
}
@media only screen and (min-width: 1px) and (max-width: 766px) {
	.mainContentArea .CalloutList li:nth-of-type(2) { float: left; }
	.SocialWrapper { left: 0px ! important; margin-left: 0px ! important; width: 320px; }
	.SocialShareVisible > span { width: 75px ! important; height: 75px ! important; }
	.sf_MainContentRight .Callout { margin: 10px 0px 20px; }
	.sf_MainContentRight .sf_3cols_3in_33, .main .right > div { padding-right: 20px; }
	.main .mainContentArea .CaseStudySide { margin: 0px; }
}
@media only screen and (min-width: 1px) and (max-width: 766px) and (min-width: 320px) and (max-width: 480px) {
}
@media only screen and (min-width: 1px) and (max-width: 766px) {
	.CenterWrapper, .sf_MainContentWide { margin: 0px; padding: 15px; width: auto ! important; }
	.sf_MainContentCenter h1, .sf_MainContentWide h1 { font-size: 50px; }
}
@media only screen and (min-width: 1px) and (max-width: 766px) and (max-width: 479px) {
}
@media only screen and (min-width: 1581px) and (max-width: 1800px) {
}
@media only screen and (min-width: 1600px) and (max-width: 1700px) {
}
/* ::::: http://mercurynewmedia.com/Sitefinity/WebsiteTemplates/MNM/App_Themes/MNM/global/Main_Styles.css?v=635144923587164473 ::::: */

/* ::::: http://mercurynewmedia.com/Sitefinity/WebsiteTemplates/MNM/App_Themes/MNM/global/megamenu.css?v=635224586522340291 ::::: */

.megamenu_container {  }
.NavigationContainer { float: right; }
.megamenu, .FakeNav { list-style: none outside none; z-index: 9997; padding: 0px; margin: 33px 0px 0px; line-height: 1; position: relative; }
.megamenu li, .FakeNav li { float: left; margin: 0px 12px 0px 0px; border: medium none; }
.megamenu li:hover, .active {  }
.megamenu li a {  }
.megamenu li:hover a {  }
.megamenu li .drop:hover {  }
.megamenu li .dropcontent { margin: 0px auto; position: absolute; left: -9999em; top: 77px; z-index: 9998; text-align: left; background: url('newsbg-drop.jpg') no-repeat scroll left bottom rgb(79, 196, 63); color: rgb(255, 255, 255); padding: 10px; font-size: 1.4em; box-shadow: 0px 12px 15px -5px rgba(0, 0, 0, 0.8); }
.megamenu li:hover .dropcontent { left: 0px; top: 43px; }
.megamenu .drop8columns { width: 640px; }
.megamenu p, .megamenu h1, .megamenu h2, .megamenu h3, .megamenu h4, .megamenu h5, .megamenu h6 { padding: 0px; margin: 0px; color: rgb(255, 255, 255); }
.megamenu p { font-size: 17.5px; line-height: 21px; margin-bottom: 18px; }
.megamenu h4, .megamenu h5, .megamenu h6 { margin-bottom: 5px; }
.megamenu h4 { font-size: 21px; line-height: 24px; }
.megamenu li .dropcontent a, .megamenu li .fullwidth a { text-transform: none; font-size: 16px; display: inline; padding: 0px; }
.megamenu li .dropcontent a:hover, .megamenu li .fullwidth a:hover { padding: 0px; }
.megamenu li ul { list-style: none outside none; padding: 0px; margin: 0px 0px 12px; }
.megamenu li ul li { font-size: 12px; line-height: 24px; position: relative; padding: 0px; margin: 0px; float: none; text-align: left; }
.megamenu li ul li:hover { background: none repeat scroll 0% 0% transparent; border: medium none; }
.megamenu ul.PageLinkList li, .megamenu ul.PageLinkList li a { float: none; display: block; color: white; text-shadow: none; }
.megamenu ul.PageLinkList li a { display: block; padding-left: 5px; background-color: rgb(33, 149, 17); margin-bottom: 3px; }
.megamenu ul.PageLinkList li a:hover { background-color: rgb(39, 177, 19); padding-left: 5px; }
.megamenu ul.PageLinkList { float: left; width: 30%; }
.megaMenuContent { float: right; width: 65%; padding: 8px; }
.One .megaMenuContent { width: 50%; margin: 0px; padding: 0px; float: left; }
.One .megaMenuContent .sfnewsList { padding: 10px; }
header nav .megamenu .sfnewsTitle { line-height: 1; }
header nav .megamenu .dropcontent li h4 a { float: none; text-shadow: none; color: white; font-size: 18px; line-height: 1; padding: 0px; }
header nav .megamenu .sfnewsTitle a:hover { color: rgb(13, 92, 171); }
.One .megaMenuContent .sfnewsList .sfnewsSummary a { font-size: 17.5px; line-height: 21px; }
.One .megaMenuContent .sfnewsList .sfnewsSummary a:hover { color: rgb(13, 92, 171); }
.megamenu .sfnewsSummary { font-size: 15px; max-height: 60px; }
.FakeNav { float: right; }
.FakeNav li {  }
.FakeNav > li > a {  }
/* ::::: http://w.sharethis.com/button/css/buttons.87ccd3b7cff586d3f8cd8ce62998d290.css ::::: */

.stwrapper { position: absolute; width: 354px; z-index: 1000000; margin: 0px; padding: 0px; top: 0px; left: 0px; visibility: hidden; height: auto; }
.stwrapper.stwrapper5x { z-index: 90000000; margin: 0px 0px 0px -256px; visibility: hidden; height: 419px; left: 50%; position: fixed; width: 514px; top: 20%; }
#stLframe.stframe5x { font-family: sintonybold; font-size: 10px; color: rgb(105, 113, 118); background-color: rgb(237, 237, 237); border-radius: 4px; box-shadow: 0px 2px 2px rgb(102, 102, 102); }
.stButton { position: relative; z-index: 1; text-decoration: none; color: rgb(0, 0, 0); display: inline-block; cursor: pointer; margin-right: 3px; margin-left: 3px; font-size: 11px; line-height: 16px; }
.stButton .stLarge { display: inline-block; height: 32px; width: 32px; position: relative; }
.stButton .stLarge:hover { opacity: 0.75; background-position: -32px center; }
@media not all, not all, (-moz-touch-enabled), not all, not all, not all {
}
/* ::::: http://mercurynewmedia.com/Sitefinity/WebsiteTemplates/MNM/App_Themes/MNM/CSS/jscrollpane.css ::::: */

