/* ::::: http://bits.wikimedia.org/fr.wikipedia.org/load.php?debug=false&lang=fr&modules=ext.gadget.MonobookToolbarStandard%2CWikiMiniAtlas%2CnewCollapsible%7Cext.uls.nojs%7Cext.visualEditor.viewPageTarget.noscript%7Cext.wikihiero%2CwikimediaBadges%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cmediawiki.ui.button%7Cskins.vector.styles%7Cwikibase.client.init&only=styles&skin=vector&* ::::: */

.client-js .mw-content-ltr .mw-editsection-bracket:first-of-type, .client-js .mw-content-rtl .mw-editsection-bracket:not(:first-of-type) { margin-right: 0.25em; color: rgb(85, 85, 85); }
.client-js .mw-content-rtl .mw-editsection-bracket:first-of-type, .client-js .mw-content-ltr .mw-editsection-bracket:not(:first-of-type) { margin-left: 0.25em; color: rgb(85, 85, 85); }
@media screen {
	.mw-content-ltr { direction: ltr; }
	.sitedir-ltr textarea, .sitedir-ltr input { direction: ltr; }
	input[type="submit"], input[type="button"], input[type="reset"], input[type="file"] { direction: ltr; }
	.mw-icon-question:lang(ar), .mw-icon-question:lang(fa), .mw-icon-question:lang(ur) { transform: scaleX(-1); }
	#catlinks { text-align: left; }
	.catlinks ul { display: inline; margin: 0px; padding: 0px; list-style: none outside none; }
	.catlinks li { display: inline-block; line-height: 1.25em; border-left: 1px solid rgb(170, 170, 170); margin: 0.125em 0px; padding: 0px 0.5em; }
	.catlinks li:first-child { padding-left: 0.25em; border-left: medium none; }
	.mw-hidden-cats-hidden { display: none; }
	.plainlinks a.external { background: none repeat scroll 0% 0% transparent ! important; padding: 0px ! important; }
	table.wikitable { margin: 1em 0px; background-color: rgb(249, 249, 249); border: 1px solid rgb(170, 170, 170); border-collapse: collapse; color: black; }
	table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td { border: 1px solid rgb(170, 170, 170); padding: 0.2em; }
	table.wikitable > tr > th, table.wikitable > * > tr > th { background-color: rgb(242, 242, 242); text-align: center; }
	.visualClear { clear: both; }
	.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul { margin: 0.3em 0px 0px 1.6em; padding: 0px; }
	h1:lang(anp), h1:lang(as), h1:lang(bh), h1:lang(bho), h1:lang(bn), h1:lang(gu), h1:lang(hi), h1:lang(kn), h1:lang(ks), h1:lang(ml), h1:lang(mr), h1:lang(my), h1:lang(mai), h1:lang(ne), h1:lang(new), h1:lang(or), h1:lang(pa), h1:lang(pi), h1:lang(sa), h1:lang(ta), h1:lang(te) { line-height: 1.6em ! important; }
	h2:lang(anp), h3:lang(anp), h4:lang(anp), h5:lang(anp), h6:lang(anp), h2:lang(as), h3:lang(as), h4:lang(as), h5:lang(as), h6:lang(as), h2:lang(bho), h3:lang(bho), h4:lang(bho), h5:lang(bho), h6:lang(bho), h2:lang(bh), h3:lang(bh), h4:lang(bh), h5:lang(bh), h6:lang(bh), h2:lang(bn), h3:lang(bn), h4:lang(bn), h5:lang(bn), h6:lang(bn), h2:lang(gu), h3:lang(gu), h4:lang(gu), h5:lang(gu), h6:lang(gu), h2:lang(hi), h3:lang(hi), h4:lang(hi), h5:lang(hi), h6:lang(hi), h2:lang(kn), h3:lang(kn), h4:lang(kn), h5:lang(kn), h6:lang(kn), h2:lang(ks), h3:lang(ks), h4:lang(ks), h5:lang(ks), h6:lang(ks), h2:lang(ml), h3:lang(ml), h4:lang(ml), h5:lang(ml), h6:lang(ml), h2:lang(mr), h3:lang(mr), h4:lang(mr), h5:lang(mr), h6:lang(mr), h2:lang(my), h3:lang(my), h4:lang(my), h5:lang(my), h6:lang(my), h2:lang(mai), h3:lang(mai), h4:lang(mai), h5:lang(mai), h6:lang(mai), h2:lang(ne), h3:lang(ne), h4:lang(ne), h5:lang(ne), h6:lang(ne), h2:lang(new), h3:lang(new), h4:lang(new), h5:lang(new), h6:lang(new), h2:lang(or), h3:lang(or), h4:lang(or), h5:lang(or), h6:lang(or), h2:lang(pa), h3:lang(pa), h4:lang(pa), h5:lang(pa), h6:lang(pa), h2:lang(pi), h3:lang(pi), h4:lang(pi), h5:lang(pi), h6:lang(pi), h2:lang(sa), h3:lang(sa), h4:lang(sa), h5:lang(sa), h6:lang(sa), h2:lang(ta), h3:lang(ta), h4:lang(ta), h5:lang(ta), h6:lang(ta), h2:lang(te), h3:lang(te), h4:lang(te), h5:lang(te), h6:lang(te) { line-height: 1.2em; }
	ol:lang(bcc) li, ol:lang(bqi) li, ol:lang(fa) li, ol:lang(glk) li, ol:lang(kk-arab) li, ol:lang(mzn) li { list-style-type: -moz-persian; }
	ol:lang(ckb) li { list-style-type: -moz-arabic-indic; }
	ol:lang(hi) li, ol:lang(mr) li { list-style-type: -moz-devanagari; }
	ol:lang(as) li, ol:lang(bn) li { list-style-type: -moz-bengali; }
	ol:lang(or) li { list-style-type: -moz-oriya; }
	#toc ul, .toc ul { margin: 0.3em 0px; }
	.mw-content-ltr .toc ul, .mw-content-ltr #toc ul, .mw-content-rtl .mw-content-ltr .toc ul, .mw-content-rtl .mw-content-ltr #toc ul { text-align: left; }
	#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { direction: ltr; }
	.mw-jump, #jump-to-nav { overflow: hidden; height: 0px; }
	.printfooter { display: none; }
	.mw-editsection, .toctoggle, #jump-to-nav { -moz-user-select: none; }
	.mw-editsection, .mw-editsection-like { font-size: small; font-weight: normal; margin-left: 1em; vertical-align: baseline; line-height: 1em; display: inline-block; }
	.mw-content-ltr .mw-editsection, .mw-content-rtl .mw-content-ltr .mw-editsection { margin-left: 1em; }
}
@media screen {
	a { text-decoration: none; color: rgb(6, 69, 173); background: none repeat scroll 0% 0% transparent; }
	a:visited { color: rgb(11, 0, 128); }
	a:active { color: rgb(250, 167, 0); }
	a:hover, a:focus { text-decoration: underline; }
	.mw-body a.external { color: rgb(51, 102, 187); }
	.mw-body a.external:visited { color: rgb(102, 51, 102); }
	.mw-body a.external:active { color: rgb(187, 102, 51); }
	img { border: medium none; vertical-align: middle; }
	h1, h2, h3, h4, h5, h6 { color: black; background: none repeat scroll 0% 0% transparent; font-weight: normal; margin: 0px; overflow: hidden; padding-top: 0.5em; padding-bottom: 0.17em; border-bottom: 1px solid rgb(170, 170, 170); }
	h1 { font-size: 188%; }
	h2 { font-size: 150%; }
	h3, h4, h5, h6 { border-bottom: medium none; font-weight: bold; }
	h3 { font-size: 132%; }
	h1, h2 { margin-bottom: 0.6em; }
	h3, h4, h5 { margin-bottom: 0.3em; }
	p { margin: 0.4em 0px 0.5em; line-height: 1.5em; }
	ul { line-height: 1.5em; list-style-type: square; margin: 0.3em 0px 0px 1.6em; padding: 0px; }
	li { margin-bottom: 0.1em; }
	table { font-size: 100%; }
	form { border: medium none; margin: 0px; }
	#toc, .toc, .mw-warning { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); padding: 5px; font-size: 95%; }
	#toc, .toc { display: table; padding: 7px; }
	#toc h2, .toc h2 { display: inline; border: medium none; padding: 0px; font-size: 100%; font-weight: bold; }
	#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { text-align: center; }
	#toc ul, .toc ul { list-style-type: none; list-style-image: none; margin-left: 0px; padding: 0px; text-align: left; }
	#toc .toctoggle, .toc .toctoggle { font-size: 94%; }
	img.thumbborder { border: 1px solid rgb(221, 221, 221); }
	.catlinks { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); padding: 5px; margin-top: 1em; clear: both; }
	#siteNotice { position: relative; text-align: center; margin: 0px; }
	#localNotice { margin-bottom: 0.9em; }
	.firstHeading { margin-bottom: 0.1em; line-height: 1.2em; padding-bottom: 0px; }
	#siteSub { display: none; }
	#jump-to-nav { margin-top: -1.4em; margin-bottom: 1.4em; }
	#contentSub, #contentSub2 { font-size: 84%; line-height: 1.2em; margin: 0px 0px 1.4em 1em; color: rgb(84, 84, 84); width: auto; }
}
.mw-ui-button:hover::-moz-focus-inner, .mw-ui-button:focus::-moz-focus-inner { border-color: transparent; }
.mw-ui-button.mw-ui-progressive:hover::-moz-focus-inner, .mw-ui-button.mw-ui-progressive:focus::-moz-focus-inner, .mw-ui-button.mw-ui-primary:hover::-moz-focus-inner, .mw-ui-button.mw-ui-primary:focus::-moz-focus-inner { border-color: transparent; }
.mw-ui-button.mw-ui-constructive:hover::-moz-focus-inner, .mw-ui-button.mw-ui-constructive:focus::-moz-focus-inner { border-color: transparent; }
.mw-ui-button.mw-ui-destructive:hover::-moz-focus-inner, .mw-ui-button.mw-ui-destructive:focus::-moz-focus-inner { border-color: transparent; }
.mw-ui-button-group > :first-child { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.mw-ui-button-group > :not(:first-child) { border-left: medium none; }
.mw-ui-button-group > :last-child { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
@media screen {
	html { font-size: 100%; }
	html, body { height: 100%; margin: 0px; padding: 0px; font-family: sans-serif; }
	body { background-color: rgb(246, 246, 246); }
	.mw-body { margin-left: 10em; padding: 1em; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(167, 215, 249); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-top: -1px; background-color: rgb(255, 255, 255); color: rgb(37, 37, 37); direction: ltr; }
	.mw-body .mw-editsection, .mw-body .mw-editsection-like { font-family: sans-serif; }
	.mw-body p { line-height: inherit; margin: 0.5em 0px; }
	.mw-body h1, .mw-body h2, .mw-body #firstHeading { font-family: "Linux Libertine",Georgia,Times,serif; line-height: 1.3; margin-bottom: 0.25em; padding: 0px; }
	.mw-body h1, .mw-body #firstHeading { font-size: 1.8em; }
	.mw-body h2 { font-size: 1.5em; margin-top: 1em; }
	.mw-body #toc h2, .mw-body .toc h2 { font-size: 100%; font-family: sans-serif; }
	div.emptyPortlet { display: none; }
	ul { list-style-type: disc; list-style-image: url('undefined'); }
	#siteNotice { font-size: 0.8em; }
	.mw-body-content { position: relative; line-height: 1.6; font-size: 0.875em; }
	body.vector-animateLayout .mw-body, body.vector-animateLayout div#footer, body.vector-animateLayout #left-navigation { transition: margin-left 250ms ease 0s, padding 250ms ease 0s; }
	body.vector-animateLayout #p-logo { transition: left 250ms ease 0s; }
	body.vector-animateLayout #mw-panel { transition: padding-right 250ms ease 0s; }
	body.vector-animateLayout #p-search { transition: margin-right 250ms ease 0s; }
	body.vector-animateLayout #p-personal { transition: right 250ms ease 0s; }
	body.vector-animateLayout #mw-head-base { transition: margin-left 250ms ease 0s; }
	#p-personal { position: absolute; top: 0.33em; right: 0.75em; z-index: 100; }
	#p-personal h3 { display: none; }
	#p-personal ul { list-style-type: none; list-style-image: none; margin: 0px; padding-left: 10em; }
	#p-personal li { line-height: 1.125em; float: left; margin-left: 0.75em; margin-top: 0.5em; font-size: 0.75em; white-space: nowrap; }
	#pt-userpage, #pt-anonuserpage, #pt-login { background-position: left top; background-repeat: no-repeat; background-image: linear-gradient(transparent, transparent), url('undefined'); padding-left: 15px ! important; }
	#p-search { float: left; margin-right: 0.5em; margin-left: 0.5em; }
	#p-search h3 { display: none; }
	#p-search form, #p-search input { margin: 0.4em 0px 0px; }
	div#simpleSearch { display: block; width: 12.6em; padding-right: 1.4em; height: 1.4em; margin-top: 0.65em; position: relative; min-height: 1px; border: 1px solid rgb(170, 170, 170); color: black; background-color: white; background-image: url('undefined'); background-position: left top; background-repeat: repeat-x; }
	div#simpleSearch input { margin: 0px; padding: 0px; border: 0px none; background-color: transparent; color: black; }
	div#simpleSearch #searchInput { width: 100%; padding: 0.2em 0px 0.2em 0.2em; font-size: 13px; direction: ltr; }
	div#simpleSearch #searchInput:focus { outline: medium none; }
	div#simpleSearch #searchInput:-moz-placeholder { color: rgb(153, 153, 153); }
	div#simpleSearch #searchButton, div#simpleSearch #mw-searchButton { position: absolute; top: 0px; right: 0px; width: 1.65em; height: 100%; cursor: pointer; text-indent: -99999px; line-height: 1; direction: ltr; white-space: nowrap; overflow: hidden; background-image: linear-gradient(transparent, transparent), url('undefined'); background-position: center center; background-repeat: no-repeat; }
	div.vectorTabs h3 { display: none; }
	div.vectorTabs { float: left; height: 2.5em; background-image: url('undefined'); background-position: left bottom; background-repeat: no-repeat; padding-left: 1px; }
	div.vectorTabs ul { float: left; height: 100%; list-style-type: none; list-style-image: none; margin: 0px; padding: 0px; background-image: url('undefined'); background-position: right bottom; background-repeat: no-repeat; }
	div.vectorTabs ul li { float: left; line-height: 1.125em; display: inline-block; height: 100%; margin: 0px; padding: 0px; background-color: rgb(243, 243, 243); background-image: url('undefined'); background-position: left bottom; background-repeat: repeat-x; white-space: nowrap; }
	div.vectorTabs ul > li { display: block; }
	div.vectorTabs li {  }
	div.vectorTabs li.selected { background-image: url('undefined'); }
	div.vectorTabs li.selected a, div.vectorTabs li.selected a:visited { color: rgb(51, 51, 51); text-decoration: none; }
	div.vectorTabs li a { display: inline-block; height: 1.9em; padding-left: 0.5em; padding-right: 0.5em; color: rgb(6, 69, 173); cursor: pointer; font-size: 0.8em; }
	div.vectorTabs span { display: inline-block; background-image: url('undefined'); background-position: right bottom; background-repeat: no-repeat; }
	div.vectorTabs span a { display: inline-block; padding-top: 1.25em; }
	div.vectorTabs span > a { float: left; display: block; }
	div.vectorMenu { direction: ltr; float: left; cursor: pointer; position: relative; }
	div#mw-head div.vectorMenu h3 { float: left; background-image: url('undefined'); background-repeat: no-repeat; background-position: right bottom; margin-left: -1px; font-size: 1em; height: 2.5em; padding-right: 1px; margin-right: -1px; }
	div.vectorMenu h3 span { display: block; font-size: 0.8em; padding-left: 0.7em; padding-top: 1.375em; margin-right: 20px; font-weight: normal; color: rgb(77, 77, 77); }
	div.vectorMenu h3 a { position: absolute; top: 0px; right: 0px; width: 20px; height: 2.5em; background-image: linear-gradient(transparent, transparent), url('undefined'); background-position: 100% 70%; background-repeat: no-repeat; transition: background-position 250ms ease 0s; }
	div.vectorMenu div.menu { min-width: 100%; position: absolute; top: 2.5em; left: -1px; background-color: white; border-right: 1px solid silver; border-width: 0px 1px 1px; border-style: solid; border-color: silver; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; clear: both; text-align: left; display: none; }
	div.vectorMenu:hover div.menu, div.vectorMenu.menuForceShow div.menu { display: block; }
	div.vectorMenu ul { list-style-type: none; list-style-image: none; padding: 0px; margin: 0px; text-align: left; }
	div.vectorMenu ul, x:-moz-any-link { min-width: 5em; }
	div.vectorMenu ul, x:-moz-any-link, x:default { min-width: 0px; }
	@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
	@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
	#mw-navigation h2 { position: absolute; top: -9999px; }
	#mw-page-base { height: 5em; background-position: left bottom; background-repeat: repeat-x; background-image: linear-gradient(rgb(255, 255, 255) 50%, rgb(246, 246, 246) 100%); background-color: rgb(255, 255, 255); }
	#mw-head-base { margin-top: -5em; margin-left: 10em; height: 5em; }
	div#mw-head { position: absolute; top: 0px; right: 0px; width: 100%; }
	div#mw-head h3 { margin: 0px; padding: 0px; }
	#left-navigation { float: left; margin-left: 10em; margin-top: 2.5em; margin-bottom: -2.5em; display: inline; }
	#right-navigation { float: right; margin-top: 2.5em; }
	#p-logo { position: absolute; top: -160px; left: 0px; width: 10em; height: 160px; }
	#p-logo a { display: block; width: 10em; height: 160px; background-repeat: no-repeat; background-position: center center; text-decoration: none; }
	div#mw-panel { font-size: inherit; position: absolute; top: 160px; padding-top: 1em; width: 10em; left: 0px; }
	div#mw-panel div.portal { margin: 0px 0.6em 0px 0.7em; padding: 0.25em 0px; direction: ltr; background-position: left top; background-repeat: no-repeat; background-image: url('undefined'); }
	div#mw-panel div.portal h3 { font-size: 0.75em; color: rgb(77, 77, 77); font-weight: normal; margin: 0px; padding: 0.25em 0px 0.25em 0.25em; cursor: default; border: medium none; }
	div#mw-panel div.portal div.body { margin: 0px 0px 0px 1.25em; padding-top: 0px; }
	div#mw-panel div.portal div.body ul { list-style-type: none; list-style-image: none; margin: 0px; padding: 0px; }
	div#mw-panel div.portal div.body ul li { line-height: 1.125em; margin: 0px; padding: 0.25em 0px; font-size: 0.75em; word-wrap: break-word; }
	div#mw-panel div.portal div.body ul li a { color: rgb(6, 69, 173); }
	div#mw-panel div.portal div.body ul li a:visited { color: rgb(11, 0, 128); }
	div#mw-panel div.portal.first { background-image: none; margin-top: 0px; }
	div#mw-panel div.portal.first h3 { display: none; }
	div#mw-panel div.portal.first div.body { margin-left: 0.5em; }
	div#footer { margin-left: 10em; margin-top: 0px; padding: 0.75em; direction: ltr; }
	div#footer ul { list-style-type: none; list-style-image: none; margin: 0px; padding: 0px; }
	div#footer ul li { margin: 0px; padding: 0.5em 0px; color: rgb(51, 51, 51); font-size: 0.7em; }
	div#footer #footer-icons { float: right; }
	div#footer #footer-icons li { float: left; margin-left: 0.5em; line-height: 2em; text-align: right; }
	div#footer #footer-info li { line-height: 1.4em; }
	div#footer #footer-places li { float: left; margin-right: 1em; line-height: 2em; }
	body.ltr div#footer #footer-places { float: left; }
	.mw-body .external { background-position: right center; background-repeat: no-repeat; background-image: linear-gradient(transparent, transparent), url('undefined'); padding-right: 13px; }
}
@media screen and (min-width: 982px) {
	.mw-body { margin-left: 11em; padding: 1.25em 1.5em 1.5em; }
	#p-logo { left: 0.5em; }
	div#footer { margin-left: 11em; padding: 1.25em; }
	#mw-panel { padding-left: 0.5em; }
	#p-search { margin-right: 1em; }
	#left-navigation { margin-left: 11em; }
	#p-personal { right: 1em; }
	#mw-head-base { margin-left: 11em; }
}
.wb-langlinks-link { line-height: 1.125em; font-size: 0.75em; float: right; }
.wb-langlinks-link { list-style: none outside none; text-align: right; padding-right: 0.5em ! important; }
.wb-langlinks-link > a { padding-left: 11px; background: none no-repeat scroll left center transparent; }
.wb-langlinks-link > a:link, .wb-langlinks-link > a:visited { background-image: url('undefined'); color: rgb(121, 121, 121) ! important; }
.wb-langlinks-link > a:hover { background-image: url('undefined'); color: rgb(6, 69, 173) ! important; }
div.after-portlet-lang:after { content: ""; clear: both; display: block; }
.mw-editsection { white-space: nowrap; unicode-bidi: -moz-isolate; }
.mw-editsection-divider { color: rgb(85, 85, 85); }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix {  }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-widget { font-family: sans-serif; font-size: 0.8em; }
.ui-widget-content { border: 1px solid rgb(204, 204, 204); background: url('undefined') repeat-x scroll 50% top rgb(242, 245, 247); color: rgb(54, 43, 54); }
.ui-widget-header { border-bottom: 1px solid rgb(187, 187, 187); line-height: 1em; background: url('undefined') repeat-x scroll 50% 50% rgb(255, 255, 255); color: rgb(34, 34, 34); font-weight: bold; }
.ui-widget :active { outline: medium none; }
.ui-icon { width: 16px; height: 16px; }
.ui-icon, .ui-widget-content .ui-icon, .ui-widget-header .ui-icon { background-image: url('undefined'); }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
.ui-corner-all { border-radius: 0px; }
button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
body button.ui-button::-moz-focus-inner { border: 0px none; }
.ui-resizable { position: relative; }
.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 99999; display: block; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px; }
.ui-dialog { position: absolute; padding: 0px; width: 300px; }
.ui-dialog .ui-dialog-titlebar { padding: 0.75em; position: relative; }
.ui-dialog .ui-dialog-title { float: left; margin: 0px; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 0.75em; top: 50%; width: 19px; margin: -10px 0px 0px; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0px; }
.ui-dialog .ui-dialog-content { border: 0px none; padding: 0.5em 1em; background: none repeat scroll 0% 0% transparent; overflow: auto; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
body .ui-dialog .ui-dialog-titlebar-close:hover { text-decoration: none; }
body .ui-dialog .ui-dialog-titlebar { padding: 0.9em 1.4em 0.6em ! important; }
body .ui-dialog .ui-widget-header { background: url('undefined') repeat-x scroll 50% 100% rgb(240, 240, 240) ! important; }
body .ui-dialog .ui-icon-closethick { background: url('undefined') no-repeat scroll 50% 50% transparent ! important; }
#p-lang .uls-settings-trigger { background-color: transparent; background-repeat: no-repeat; background-attachment: scroll; background-position: right top; background-clip: border-box; background-origin: padding-box; background-size: auto auto; background-image: linear-gradient(transparent, transparent), url('undefined'); height: 16px; width: 14px; float: right; cursor: pointer; }
.skin-vector #p-lang .uls-settings-trigger { margin-top: 3px; }
#p-lang .uls-settings-trigger:hover { background-position: right -16px; }
.suggestions { overflow: hidden; position: absolute; top: 0px; left: 0px; width: 0px; border: medium none; z-index: 1099; padding: 0px; margin: -1px 0px 0px; }
.suggestions-special { position: relative; background-color: white; cursor: pointer; border: 1px solid rgb(170, 170, 170); margin: -2px 0px 0px; display: none; padding: 0.25em; line-height: 1.25em; }
.suggestions-results { background-color: white; cursor: pointer; border: 1px solid rgb(170, 170, 170); padding: 0px; margin: 0px; }
/* ::::: http://bits.wikimedia.org/fr.wikipedia.org/load.php?debug=false&lang=fr&modules=site&only=styles&skin=vector&* ::::: */

#coordinates-title { font-size: 90%; margin-right: 1em; margin-top: 1em; float: right; }
#coordinates-title img { vertical-align: middle; }
#coordinates_osm { font-size: 110%; box-shadow: 0px 0px 5px rgb(192, 192, 240); border-radius: 5px; margin-left: 7px; padding: 3px; background-color: rgb(224, 224, 224); }
#coordinates_osm:hover { box-shadow: 0px 0px 5px rgb(160, 160, 192); background-color: rgb(176, 176, 176); }
h1.firstHeading { overflow: visible; }
.mw-editsection { font-size: x-small; }
.nowrap { white-space: nowrap; }
#mw-hidden-catlinks { font-size: 0.85em; }
:lang(grc), :lang(el) { font-family: 'Arial Unicode MS','DejaVu Sans',Athena,Gentium,'Palatino Linotype',"Lucida Sans Unicode","Lucida Grande",Code2000,sans-serif; }
:lang(th) { font-family: "Segoe UI",Tahoma,sans-serif; }
@media not all {
}
div.bandeau-section { display: block; margin: 0px 0px 0.7em 2em; font-size: 95%; overflow: hidden; border-style: solid; border-width: 1px 0px; padding: 2px 0px 1px 4px; text-align: left; }
.bandeau-niveau-detail, .bandeau-section.bandeau-niveau-information { border-color: rgb(231, 231, 231); background-color: rgb(253, 253, 253); }
.indentation, .loupe, .general, .accessibilite, .etoile-or, .etoile-argent, .categorie, .biblio, .recyclage, .archives, .sons, .videos, .incomplet, .sources, .important, .en-travaux, .conflit-edition, .incubator, .extension, .wikispecies, .metawiki, .wikiversity, .wikipedia, .wikibooks, .wikinews, .wikiquote, .wikisource, .commons, .wikimedia, .wiktionary, .wikidata, .wikivoyage, .wwwmediawiki { background-repeat: no-repeat; line-height: 1.5em; text-indent: 23px; display: inline-block; }
.incomplet { background-image: url('16px-fairytale_waring.png'); background-position: 2px 3px; }
#bandeau-portail { border: 1px solid rgb(170, 170, 170); padding: 4px; background-color: rgb(249, 249, 249); text-align: center; margin-top: 1em; margin-left: 0px; clear: both; }
#bandeau-portail li { display: inline; }
.bandeau-portail-element { white-space: nowrap; margin: auto 1.5em; }
.bandeau-portail-icone { margin-right: 0.5em; }
.bandeau-portail-texte { font-weight: bold; }
table.wikitable th, table.wikitable td { padding: 0.3em; }
.alternance:not(.sortable) tr:nth-child(2n+1), .alternance.sortable tr:nth-child(2n), .alternance:not(.sortable) tr:nth-child(2n+1) th[scope="row"], .alternance.sortable tr:nth-child(2n) th[scope="row"] { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.alternance2 tr:nth-child(2n+1), .alternance2 tr:nth-child(2n+1) th[scope="row"] { background: none repeat scroll 0% 0% rgb(252, 252, 252); }
.geo-default { display: inline; }
.geo-nondefault { display: none; }
.geo-dms { display: inline; }
.geo-dec { display: inline; }
.geo-multi-punct { display: none; }
.longitude, .latitude { white-space: nowrap; }
.infobox_v2 { background: none repeat scroll 0% 0% rgb(249, 249, 249); color: rgb(0, 0, 0); font-size: 90%; line-height: 1.1em; float: right; clear: right; margin: 0px 0px 0.5em 1em; width: 300px; border: 1px solid rgb(170, 170, 170); padding: 0.1em; }
.infobox_v2 th { vertical-align: super; text-align: left; }
.infobox_v2 .entete { height: 45px; vertical-align: middle; text-align: center; font-size: 150%; font-weight: bolder; line-height: 1.2em; color: rgb(0, 0, 0); }
.img_toogle ul { list-style: none outside none ! important; text-align: center; }
table.taxoalternance tr:nth-child(2n+1), .taxoalternance.wikitable tr:nth-child(2n+1) th[scope="row"] { background: none repeat scroll 0% 0% rgb(245, 245, 245); }
.img_toogle, .img_toogle * { margin: 0px auto ! important; padding: 0px ! important; }
.img_toogle .geobox { position: relative; }
#coordinates-title { margin-top: 0px; }
a:lang(ar), a:lang(kk-arab), a:lang(mzn), a:lang(ps), a:lang(ur) { text-decoration: none; }
#cn-toggle-box { float: right; }
.wlm_2012_org_image { border: 0px none; }
