body.plugin { background: none repeat scroll 0% 0% transparent; overflow: hidden; -moz-text-size-adjust: none; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(20, 24, 35); line-height: 1.28; margin: 0px; padding: 0px; text-align: left; direction: ltr; unicode-bidi: embed; }
body, button, input, label, select, td, textarea { font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px; }
h1, h2, h3, h4, h5, h6 { font-size: 13px; color: rgb(20, 24, 35); margin: 0px; padding: 0px; }
h4, h5, h6 { font-size: 11px; }
a { color: rgb(59, 89, 152); cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0px none; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
abbr { border-bottom: medium none; }
.clearfix:after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
#facebook .hidden_elem { display: none ! important; }
.pluginFontHelvetica, .pluginFontHelvetica button, .pluginFontHelvetica input, .pluginFontHelvetica label, .pluginFontHelvetica select, .pluginFontHelvetica td, .pluginFontHelvetica textarea { font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif; }
.fbFeedbackContent .composerHider { border-bottom: 1px solid rgb(204, 204, 204); border-top: 1px solid rgb(204, 204, 204); margin: 0px; padding: 9px 0px 7px; }
.fbFeedbackContent .composerHider .uiSelector { margin: -3px 1px; }
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:active, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:focus, .fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:hover { background-image: url('inkormq6nlp.png'); background-repeat: no-repeat; background-size: 500px 526px; background-position: right -301px; background-color: transparent; border: medium none; box-shadow: none; margin: 0px; outline: 0px none; padding: 2px 20px 2px 0px; }
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton .uiButtonText { color: rgb(51, 51, 51); }
.fbFeedbackContent .composerHider .uiSelector .itemLabel { font-weight: normal; }
.fbFeedbackContent .composerHider .uiSelector .checked .itemLabel { font-weight: bold; }
.fbFeedbackContent .composerHider a { font-weight: bold; }
.fbFeedbackContent .composer { background-color: rgba(190, 190, 190, 0.2); border-style: solid; border-color: rgb(233, 233, 233); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px; padding: 7px 10px 7px 69px; position: relative; }
.fbFeedbackContent .fbFeedbackPosts .composer { margin-left: -10px; }
.fbFeedbackContent .noTopBorder { border-top: 0px none ! important; }
.fbFeedbackContent .composer .viewerProfilePic { background-color: rgb(221, 221, 221); margin: 2px 0px 0px; padding: 0px ! important; position: absolute; left: 10px; }
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions .mentionsTextarea, .fbFeedbackContent .fbFeedbackMentions .mentionsTextarea { border-width: 0px; padding: 0px; margin: 0px; box-shadow: none; background-color: transparent; }
.fbFeedbackContent .fbFeedbackMentions { background-color: rgb(255, 255, 255); margin: 2px 0px; }
.fbFeedbackContent .fbFeedbackMentions .innerWrap { padding: 3px; }
.fbFeedbackContent .fbFeedbackMentions .highlighter { left: 0px; top: 0px; }
.commentas_inner { display: block; padding-top: 4px; }
.postToProfile .indicator { display: inline-block; padding-left: 5px; width: 16px; }
.fbCommentContext .composer textarea, .fbFeedbackContent .composer textarea { border: 1px solid rgb(137, 155, 197); padding: 3px; width: 100%; }
.fbFeedbackContent .composerReply { border-top: 1px solid rgb(233, 233, 233); }
.fbFeedbackContent .composerReply { padding-top: 8px; }
.fbFeedbackContent .composerReply textarea { width: 100%; }
.fbFeedbackContent .postContent .action_links { margin-bottom: 8px; }
.fbFeedbackContent .postBlingBox { border: medium none; bottom: 1px; cursor: text; padding: 0px; position: relative; }
.fbFeedbackContent .postBlingBox:hover { background-color: transparent; border: medium none; }
.fbFeedbackContent .fbUpDownVoteAfterLogin { display: inline; }
.fbFeedbackContent .fbFeedbackPager { margin-left: 0px; }
.fbFeedbackContent { min-height: 160px; }
.fbFeedbackContent .fbFeedbackPosts { padding: 0px 0px 0px 10px; }
.fbFeedbackContent .star { height: 11px; width: 11px; }
.fbFeedbackContent .post { margin-top: 4px; }
.fbFeedbackContent .post input { margin-left: 0px; }
.fbFeedbackContent .post label.desc { font-weight: normal; }
.fbFeedbackContent .profileName { font-size: 12px; }
.fbFeedbackContent .fbFeedbackPost { border-style: solid; border-color: rgb(233, 234, 237); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px 0px; clear: both; padding-bottom: 0px ! important; padding-top: 10px; }
.fbFeedbackContent li.fbTopLevelComment:first-of-type { border-width: 0px; }
.fbFeedbackContent li.fbTopLevelComment:last-of-type { margin-bottom: -5px; }
.fbFeedbackReply form, .fbFeedbackContent .postReply, .postReplies { margin-top: 8px; }
.fbFeedbackContent .postContainer:hover .closeButton, .fbFeedbackContent .postContainer:hover .closeButtonAfterLogin { visibility: visible; }
.fbFeedbackContent .postContainer .closeButton, .fbFeedbackContent .postContainer .closeButtonAfterLogin { float: right; visibility: hidden; }
.fbFeedbackPost { position: relative; }
.fbFeedbackPost .postContent { margin-top: 5px; }
.fbFeedbackPost .postText { color: rgb(26, 26, 26); line-height: 14px; margin: 0px 28px 5px 0px; }
.fbFeedbackPost .postActor { background-color: rgb(237, 237, 237); margin-bottom: 8px; margin-right: 11px; }
.fbFeedbackContent .fbConnectWidgetFooter { position: static; }
.fbFeedbackContent .fbConnectWidgetFooter .fbFooterBorder { margin: 5px 0px 0px; }
.fbCommentsEditSettings .uiInfoTable tr:nth-last-child(2) th, .fbCommentsEditSettings .uiInfoTable tr:nth-last-child(2) td { padding-bottom: 0px; }
.postToProfileCheckbox { vertical-align: middle; }
.fbFeedbackPost .fsm { font-size: 12px; }
.fbFeedbackContent body, .fbFeedbackContent button, .fbFeedbackContent form, .fbFeedbackContent input, .fbFeedbackContent label, .fbFeedbackContent select, .fbFeedbackContent td, .fbFeedbackContent textarea { font-size: 12px; }
.uiHeader h3, .uiHeader h4 { color: rgb(51, 51, 51); font-size: 11px; }
.uiHeader .uiHeaderTitle { outline: medium none; }
.uiHeaderTopBorder { border-top: 1px solid rgb(170, 170, 170); padding-top: 0.5em; }
div.uiHeaderTopBorder { margin-left: 0px; }
.uiHeaderNav { border-color: rgb(238, 238, 238); margin: 8px 0px 0px 6px; padding: 7px 6px 3px 5px; }
.uiHeaderNav h4 { color: gray; }
.lfloat { float: left; }
.rfloat { float: right; }
._ohe { float: left; }
._ohf { float: right; }
.inlineBlock { display: inline-block; }
.uiToggleFlyout, .toggleTargetClosed, .openToggler .uiToggleFlyout .uiToggleFlyout { display: none; }
.uiButton { cursor: pointer; display: inline-block; font-size: 11px; font-weight: bold; line-height: 13px; padding: 2px 6px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; }
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover { background-image: url('inkormq6nlp.png'); background-repeat: no-repeat; background-size: 500px 526px; background-position: 0px -100px; background-color: rgb(238, 238, 238); border-width: 1px; border-style: solid; border-color: rgb(153, 153, 153) rgb(153, 153, 153) rgb(136, 136, 136); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
.uiButton + .uiButton { margin-left: 4px; }
.uiButton:hover { text-decoration: none; }
.uiButton:active, .uiButtonDepressed { background: none repeat scroll 0% 0% rgb(221, 221, 221); border-bottom-color: rgb(153, 153, 153); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) inset; }
.uiButtonText, .uiButton input { background: none repeat scroll 0% 0% transparent; border: 0px none; color: rgb(51, 51, 51); cursor: pointer; display: inline-block; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px; font-weight: bold; line-height: 13px; margin: 0px; padding: 1px 0px 2px; white-space: nowrap; }
.uiButton input::-moz-focus-inner { border: 0px none; padding: 0px; }
.gecko .uiButton input:focus { outline: thin dotted; }
.uiButtonConfirm { background-image: url('inkormq6nlp.png'); background-repeat: no-repeat; background-size: 500px 526px; background-position: 0px -50px; background-color: rgb(91, 116, 168); border-color: rgb(41, 68, 126) rgb(41, 68, 126) rgb(26, 53, 110); }
.uiButtonConfirm:active { background: none repeat scroll 0% 0% rgb(79, 106, 163); border-bottom-color: rgb(41, 68, 126); }
form.async_saving .uiButton.uiButtonSpecial .uiButtonText, form.async_saving .uiButton.uiButtonSpecial input, form.async_saving .uiButton.uiButtonConfirm .uiButtonText, form.async_saving .uiButton.uiButtonConfirm input, .uiButtonSpecial .uiButtonText, .uiButtonSpecial input, .uiButtonSpecial.uiButtonDisabled .uiButtonText, .uiButtonSpecial.uiButtonDisabled input, .uiButtonConfirm .uiButtonText, .uiButtonConfirm input, .uiButtonConfirm.uiButtonDisabled .uiButtonText, .uiButtonConfirm.uiButtonDisabled input { color: rgb(255, 255, 255); }
.uiButtonSuppressed { background: none repeat scroll 0% 0% transparent; border-color: transparent; box-shadow: none; }
.uiMenu { background-color: rgb(255, 255, 255); padding: 3px 0px 4px; overflow-y: auto; }
.uiMenuItem .itemAnchor { border-style: solid; border-color: rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px; color: rgb(17, 17, 17); display: block; font-weight: normal; line-height: 16px; padding: 1px 16px 1px 22px; text-decoration: none; }
.uiMenuItem a:hover { text-decoration: none; }
.uiMenuItem a:active, .uiMenuItem a:focus { background-color: rgb(109, 132, 180); border-color: rgb(59, 89, 152); color: rgb(255, 255, 255); outline: medium none; }
.uiMenu .checked .itemAnchor { background: url('yxpraoz0irq.png') no-repeat scroll left 4px transparent; font-weight: bold; }
.uiMenu .checked a:active, .uiMenu .checked a:focus { background-color: rgb(109, 132, 180); background-position: left -56px; }
.uiMenuItem { white-space: nowrap; }
.uiMenuItem .itemLabel { display: block; max-width: 300px; text-overflow: ellipsis; white-space: nowrap; }
.uiMenuItem .disabledAnchor, .uiMenu .disabled .itemAnchor { display: none; }
.uiMenu .disabled .disabledAnchor { display: block; }
.uiMenu .disabled .itemAnchor { opacity: 0.55; }
.fss { font-size: 9px; }
.fsm { font-size: 11px; }
.fsl { font-size: 13px; }
.fwn { font-weight: normal; }
.fwb { font-weight: bold; }
.fcb { color: rgb(51, 51, 51); }
.fcg { color: gray; }
.prs { padding-right: 5px; }
.phm { padding-left: 10px; padding-right: 10px; }
form { margin: 0px; padding: 0px; }
label { cursor: pointer; color: rgb(102, 102, 102); font-weight: bold; vertical-align: middle; }
label input { font-weight: normal; }
textarea, .inputtext, .inputpassword { border: 1px solid rgb(189, 199, 216); margin: 0px; padding: 3px; }
textarea { max-width: 100%; }
select { border: 1px solid rgb(189, 199, 216); padding: 2px; }
.uiTextareaNoResize { resize: none; }
.uiTextareaAutogrow { overflow: hidden; }
.DOMControl_placeholder { color: rgb(119, 119, 119); }
._4bl7 { float: left; min-height: 1px; }
._4bl7, ._4bl9 { word-wrap: break-word; }
._4kg > li { border-width: 1px 0px 0px; }
.uiList > li:first-child { border-width: 0px; }
._29k { display: table-cell; vertical-align: top; width: 10000px; }
._29h { float: left; margin-right: 5px; }
._29h .img, img._29h, i._29h { display: block; }
.uiCloseButton { cursor: pointer; display: inline-block; margin: 0px; padding: 0px; }
label.uiCloseButton { overflow: hidden; }
.uiCloseButton input { cursor: pointer; opacity: 0; outline: medium none; padding: 18px; }
.uiCloseButton { background-image: url('4wsewcwbov8.png'); background-repeat: no-repeat; height: 15px; width: 15px; }
.uiCloseButton:hover, .uiCloseButton:focus { background-position: left -32px; }
.uiCloseButton:active { background-position: left -48px; }
a.uiLinkSubtle { color: rgb(145, 151, 163); }
.uiLinkButton input { background: none repeat scroll 0% 0% transparent; border: medium none; color: rgb(59, 89, 152); cursor: pointer; font-family: 'lucida grande',tahoma,verdana,arial,sans-serif; font-size: 11px; margin: 0px; padding: 0px; vertical-align: top; }
.uiLinkButton input::-moz-focus-inner { border: 0px none; padding: 0px; }
.uiLinkButton:hover, .uiLinkButton input:hover, .uiLinkButton input:focus, .uiLinkButton input:active { color: rgb(59, 89, 152); text-decoration: underline; }
.gecko .uiLinkButton:hover { text-decoration: none; }
.uiBlingBox { border-bottom: 1px solid rgb(255, 255, 255); display: inline-block; padding: 3px 4px 3px 2px; }
.uiBlingBox:hover { text-decoration: none; background-color: rgb(236, 239, 245); border-bottom: 1px solid rgb(229, 234, 241); }
.uiBlingBox .text { line-height: 11px; vertical-align: text-bottom; }
.uiBlingBox .img { margin-right: 2px; vertical-align: text-top; }
.sp_comments-2x { background-image: url('czrrllkiqph.png'); background-size: 51px 225px; background-repeat: no-repeat; display: inline-block; height: 10px; width: 16px; }
.sx_comments-2x_cfavicon { width: 14px; height: 14px; background-position: 0px -187px; }
.sx_comments-2x_star { width: 11px; background-position: -28px -187px; }
.sx_comments-2x_like { width: 15px; height: 13px; background-position: -17px -170px; }
i.img {  }
._8u { margin-top: 1px; }
._8o, ._8o .img { display: block; }
._8r { margin-right: 5px; margin-top: -1px; }
._42ef { overflow: hidden; }
._rw { height: 50px; width: 50px; }
._s0:only-child { display: block; }
._42ft::-moz-focus-inner { border: 0px none; padding: 0px; }
.uiMentionsInput { overflow: hidden; position: relative; }
.uiMentionsInput .mentionsTextarea, .uiMentionsInput .mentionsTypeahead { background: none repeat scroll 0% 0% transparent; }
.uiMentionsInput .mentionsTextarea { line-height: 1.28; }
.uiMentionsInput .highlighter { left: 0px; overflow: hidden; position: absolute; padding: 4px; top: 0px; }
.gecko .uiMentionsInput .highlighter { padding: 4px 5px; }
.uiMentionsInput .highlighter div { color: transparent; line-height: 1.28; white-space: pre-wrap; width: 100%; word-wrap: break-word; }
.uiMentionsInput .highlighterContent { max-width: 100%; }
.uiSelector { max-width: 200px; vertical-align: top; }
.uiSelector .wrap { position: relative; }
.uiSelector select, .uiSelector .submitButton, .no_js form .uiSelectorButton { display: none; }
.uiSelector .uiButton, .uiSelector .uiButton:active, .uiSelector .uiButton:focus, .uiSelector .uiButton:hover { background-image: none; }
.uiSelector .uiSelectorButton { vertical-align: top; }
.uiSelector .uiSelectorButton:active { background-color: rgb(221, 221, 221); }
.uiSelectorNormal .uiSelectorButton, .uiSelectorNormal .uiSelectorButton:active, .uiSelectorNormal .uiSelectorButton:focus, .uiSelectorNormal .uiSelectorButton:hover, .uiSelectorNormal .uiButtonSuppressed:active, .uiSelectorNormal .uiButtonSuppressed:focus, .uiSelectorNormal .uiButtonSuppressed:hover { background-image: url('inkormq6nlp.png'); background-repeat: no-repeat; background-size: 500px 526px; background-position: right 0px; max-width: 169px; padding-right: 23px; }
.uiSelectorNormal .uiButtonOverlay, .uiSelectorNormal .uiButtonOverlay:active, .uiSelectorNormal .uiButtonOverlay:focus, .uiSelectorNormal .uiButtonOverlay:hover, .uiSelectorNormal .uiSelectorButton:active, .uiSelectorNormal .uiButtonSuppressed { background-image: url('inkormq6nlp.png'); background-repeat: no-repeat; background-size: 500px 526px; background-position: right -301px; }
.uiSelectorNormal .uiSelectorButton .uiButtonText { max-width: 169px; overflow: hidden; text-overflow: ellipsis; vertical-align: top; }
.uiSelectorMenuWrapper { bottom: auto; left: 0px; margin: -1px 0px 30px; max-width: 340px; min-width: 100%; position: absolute; right: auto; top: 100%; z-index: -1; }
.uiSelector .uiMenu { border-width: 1px 1px 2px; border-style: solid; border-color: rgb(119, 119, 119) rgb(119, 119, 119) rgb(41, 62, 106); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.uiTypeahead { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-style: solid; border-color: rgb(189, 199, 216); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 0px; cursor: default; position: relative; }
.uiTypeahead .wrap { border-style: solid; border-color: rgb(189, 199, 216); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; }
.uiTypeahead .innerWrap { overflow: hidden; }
.uiTypeahead .textInput { background-color: transparent; border: 0px none; box-sizing: border-box; outline: 0px none; width: 100%; }
.fbConnectWidgetFooter { bottom: 0px; cursor: default; position: absolute; width: 100%; }
.fbConnectWidgetFooter .fbFooterBorder { border-top: 1px solid rgb(204, 204, 204); margin: 0px 6px; padding: 4px 3px; }
