html { margin: 0px; padding: 0px; font: 11px/18px 'Helvetica Neue',Arial,sans-serif; color: rgb(51, 51, 51); -moz-user-select: none; }
body { margin: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; visibility: hidden; }
a { outline: medium none; text-decoration: none; }
body.ready { visibility: visible; }
#widget { white-space: nowrap; overflow: hidden; text-align: left; }
.btn-o, .count-o, .btn, .btn .label, #count { display: inline-block; vertical-align: top; }
.btn-o { max-width: 100%; }
.btn { position: relative; background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(255, 255, 255), rgb(222, 222, 222)); border: 1px solid rgb(204, 204, 204); border-radius: 3px; color: rgb(51, 51, 51); font-weight: bold; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); cursor: pointer; height: 18px; max-width: 98%; overflow: hidden; }
.btn:focus, .btn:hover, .btn:active { border-color: rgb(187, 187, 187); background-color: rgb(217, 217, 217); background-image: linear-gradient(rgb(248, 248, 248), rgb(217, 217, 217)); box-shadow: none; }
.btn:active { background-color: rgb(239, 239, 239); box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1) inset; }
.btn i { position: absolute; top: 50%; left: 2px; margin-top: -5px; width: 16px; height: 13px; background: url('undefined') no-repeat scroll 0px 0px transparent; }
.btn .label { padding: 0px 3px 0px 19px; white-space: nowrap; }
@media not all, (min-resolution: 144dpi) {
	.btn i { background-image: url('undefined'); background-size: 45px 40px; margin-top: -6px; }
}
.btn:focus, .following .btn:focus { border-color: rgb(0, 137, 203); }
.count-o { position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); border-radius: 3px; visibility: hidden; min-height: 18px; min-width: 15px; }
#count { white-space: nowrap; text-align: center; color: rgb(51, 51, 51); }
#count:hover, #count:focus { color: rgb(51, 51, 51); text-decoration: underline; }
.count-ready .count-o { visibility: visible; }
.count-o i, .count-o u { position: absolute; line-height: 0; width: 0px; height: 0px; left: 0px; top: 50%; margin: -4px 0px 0px -4px; border-width: 4px 4px 4px 0px; border-style: solid solid solid none; border-color: transparent rgb(170, 170, 170) transparent -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.count-o u { margin-left: -3px; border-right-color: rgb(255, 255, 255); }
.vcount #widget { width: 100%; padding-bottom: 5px; }
.vcount .btn-o { position: absolute; margin-top: 42px; left: 0px; right: 0px; width: 100%; }
.vcount .btn { display: block; margin: 0px auto; }
.vcount .count-o { display: block; padding: 0px 5px; }
.vcount .count-o i, .rtl.vcount .count-o i, .vcount .count-o u, .rtl.vcount .count-o u { line-height: 0; top: auto; left: 50%; bottom: 0px; right: auto; margin: 0px 0px -4px -4px; border-width: 4px 4px 0px; border-style: solid solid none; border-right: 4px solid transparent; border-left: 4px solid transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(170, 170, 170) transparent -moz-use-text-color; }
.rtl.vcount .count-o u, .vcount .count-o u { margin-bottom: -3px; border-top-color: rgb(255, 255, 255); }
.vcount #count { font-size: 16px; width: 100%; height: 34px; line-height: 34px; }
