body {  }
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url('grlryt2bdkiyfmsohzd1ea.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url('d-qwlnp4didxos_6urzftg.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url('vxnk-e6b13cyehudcmvqvw.woff') format("woff");
}
/* ::::: https://apis.google.com/_/scs/apps-static/_/ss/k=oz.widget.14saizla1wekz.L.F4.O/m=bdg/am=AAAEAEAwyA/d=1/rs=AItRSTNGqQ5PgTsh8T_EHllnEPfkiQWBTg ::::: */

* html .d-k-l, :first-child + html .d-k-l { display: inline; }
a { color: rgb(66, 127, 237); cursor: pointer; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
.g-h-f-N-N::-moz-placeholder { color: rgb(153, 153, 153); }
.Yb .g-h-f-N-N::-moz-placeholder { color: rgb(64, 64, 64); }
body { padding: 0px; }
body { background: none repeat scroll 0% 0% rgb(248, 249, 249); position: relative; word-wrap: break-word; }
iframe { border: medium none; }
.CmV3qc > table > tbody > tr > td:nth-child(2) { box-shadow: none; border-width: 1px 0px; }
body.kv8eNc { position: static; }
.do9jre:not(:checked) { background: none repeat scroll 0% 0% transparent; }
.GQX3fd:not(.chhePd) .bYpTme { background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); }
body { background-color: rgb(229, 229, 229); font: 13px Roboto,arial,sans-serif; height: 100%; margin: 0px; overflow-y: scroll; visibility: visible; }
.kv8eNc { background-color: transparent; margin: 0px; padding: 0px; }
.FP { border: 1px solid rgba(0, 0, 0, 0.17); border-radius: 2px; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); box-sizing: border-box; transition: background-color 0.218s ease 0s, border-color 0.218s ease 0s, box-shadow 0.218s ease 0s; -moz-user-select: none; background-color: rgb(255, 255, 255); background-image: none; color: rgb(38, 38, 38); cursor: pointer; outline: medium none; overflow: hidden; position: relative; text-align: center; vertical-align: middle; white-space: nowrap; width: auto; }
.FP:hover { border: 1px solid rgba(0, 0, 0, 0.25); box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); }
.FP:active { background-color: rgb(229, 229, 229); border: 1px solid rgba(0, 0, 0, 0.25); box-shadow: 0px 1px 0px rgb(221, 221, 221) inset; color: rgb(38, 38, 38); }
.s7 { float: left; }
.u7 { display: block; }
.Nr { fill: rgb(221, 75, 56); }
.hma { font-family: Roboto,arial,sans-serif; font-size: 12px; font-weight: 700; margin-left: 6px; margin-right: 6px; vertical-align: top; }
.Ul { height: 100%; width: 100%; }
.ima { background-position: left top; background-repeat: no-repeat; }
.Yfd { border-radius: 3px; border: 1px solid rgba(0, 0, 0, 0.2); position: absolute; }
.yae, .egd, .dgd, .cgd, .bgd { width: 100%; }
.cgd { padding-top: 14px; }
.bgd, .dgd { padding-bottom: 14px; text-align: center; }
.Iae { display: block; margin-left: auto; margin-right: auto; }
.igd, .jgd { background-color: rgb(255, 255, 255); }
.igd { border-radius: 50%; display: inline-block; }
.lae { height: 30px; padding-left: 14px; padding-right: 14px; padding-top: 10px; overflow-y: hidden; }
.tKc, .fgd, .hgd, .Gae { display: inline-block; font-family: Roboto,arial,sans-serif; vertical-align: top; }
.tKc { visibility: hidden; }
.hgd { margin-left: 7px; }
.ggd, .mgd, .ngd, .qgd { padding-left: 14px; padding-right: 14px; }
.ggd { font: 16px/19px Roboto,arial,sans-serif; max-height: 20px; overflow: hidden; padding-top: 10px; white-space: normal; }
.mgd { font: 11px Roboto,arial,sans-serif; padding-top: 10px; }
.ngd { font: 11px Roboto,arial,sans-serif; overflow: hidden; white-space: normal; }
.Bae, .Cae, .Rae, .Sae, .sae, .tae { text-decoration: none; }
.nae { background-color: rgb(255, 255, 255); }
.Cae { color: rgb(38, 38, 38); }
.Oae { color: rgb(170, 170, 170); }
.Qae { color: rgb(115, 115, 115); }
