.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div { font-size: 10px; }
/* ::::: https://fonts.googleapis.com/css?family=Roboto:300,400,500,700 ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('hgo13k-tfspn0qi1sfduft8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('2ux7wltfw3w8tcltuvlfyq.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('rxzjdnzeo3r5zsexge8uut8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('d-6iyplofoccackzxwxsod8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@media screen {
	.gm-style .gmnoscreen, .gmnoscreen { display: none; }
}
.gm-style { font-family: Roboto,Arial,sans-serif; font-size: 11px; font-weight: 400; text-decoration: none; }
html, body, #mapDiv { height: 100%; margin: 0px; padding: 0px; }
div.login-control { font-family: Roboto,Arial; font-size: 11px; color: white; margin-top: 10px; margin-right: 10px; font-weight: 500; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.298); }
div.login { border-radius: 2px; background-color: rgb(95, 132, 242); padding: 4px 8px; cursor: pointer; }
.gm-style .login-control .tooltip-anchor { color: rgb(91, 91, 91); display: none; font-family: Roboto,Arial; font-size: 12px; font-weight: normal; -moz-user-select: text; width: 50%; }
.gm-style .login-control:hover .tooltip-anchor { display: inline; }
.gm-style .login-control .tooltip-content { background-color: white; font-weight: normal; left: -150px; width: 150px; }
div.login a:link { text-decoration: none; color: inherit; }
div.login a:visited { color: inherit; }
div.login a:hover { text-decoration: underline; }
div.email-account-learn { float: left; }
div.email { font-weight: 500; font-size: 12px; padding: 6px; }
div.profile-photo { border-radius: 2px; width: 28px; height: 28px; overflow: hidden; }
div.profile-photo-dark { background-color: black; }
div.profile-photo-dark:hover { background-color: white; color: black; }
div.profile-photo:hover { width: auto; }
a.profile-photo-link-float { float: left; }
div.profile-photo a { margin-right: 8px; margin-left: 8px; margin-top: 6px; height: 24px; overflow: hidden; }
div.profile-photo a { text-decoration: none; color: rgb(58, 132, 223); }
div.profile-photo a:hover { text-decoration: underline; }
div.profile-photo img { float: right; padding-top: 2px; padding-right: 2px; padding-left: 2px; width: 24px; }
.gm-style .place-card div, .gm-style .place-card a, .gm-style .default-card div, .gm-style .default-card a { color: rgb(91, 91, 91); font-family: Roboto,Arial; font-size: 12px; background-color: white; -moz-user-select: text; }
.gm-style .place-card, .gm-style .default-card, .gm-style .directions-card { cursor: default; }
.gm-style .place-card-large { padding: 9px 4px 9px 11px; }
.gm-style .place-card a:link, .gm-style .default-card a:link, .gm-style .directions-card a:link { text-decoration: none; color: rgb(58, 132, 223); }
.gm-style .place-card a:visited, .gm-style .default-card a:visited, .gm-style .directions-card a:visited { color: rgb(58, 132, 223); }
.gm-style .place-card a:hover, .gm-style .default-card a:hover, .gm-style .directions-card a:hover { text-decoration: underline; }
.gm-style .place-desc-large { width: 200px; display: inline-block; }
.gm-style .place-card .place-name { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: 500; font-size: 14px; color: black; }
.gm-style .place-card .address { margin-top: 6px; }
.gm-style .place-card .phone-number { padding-top: 7px; padding-bottom: 7px; }
.gm-style .place-card .ad-details .visurl .ad-icon { background-color: rgb(237, 184, 2); font-size: 9px; color: white; padding: 0px 2px 0px 3px; margin-right: 5px; font-weight: 500; border-radius: 2px; position: relative; top: -1px; }
.gm-style .place-card .ad-details .visurl .url { color: rgb(58, 132, 223); font-family: Roboto,Arial; font-size: 12px; background-color: white; }
.gm-style .place-card .ad-details .visurl .why-these-ads { background-color: white; display: inline-block; vertical-align: top; width: 18px; height: 18px; overflow: hidden; float: right; margin-top: 1px; margin-right: 17px; }
.gm-style .tooltip-anchor { width: 100%; position: relative; float: right; z-index: 1; }
.gm-style .star-entity .tooltip-anchor, .gm-style .star-entity-medium .tooltip-anchor, .gm-style .navigate .tooltip-anchor { width: 50%; display: none; }
.gm-style .star-entity:hover .tooltip-anchor, .gm-style .star-entity-medium:hover .tooltip-anchor, .gm-style .navigate:hover .tooltip-anchor { display: inline; }
.gm-style .wta-anchor { position: relative; display: inline; float: right; }
.gm-style .wta-anchor > .tooltip-tip-inner, .gm-style .wta-anchor > .tooltip-tip-outer, .gm-style .tooltip-anchor > .tooltip-tip-inner, .gm-style .tooltip-anchor > .tooltip-tip-outer { width: 0px; height: 0px; border-left: 8px solid transparent; border-right: 8px solid transparent; background-color: transparent; position: absolute; left: -8px; }
.gm-style .wta-anchor > .tooltip-tip-inner, .gm-style .wta-anchor > .tooltip-tip-outer { left: -31px; }
.gm-style .wta-anchor > .tooltip-tip-outer, .gm-style .tooltip-anchor > .tooltip-tip-outer { border-bottom: 8px solid rgb(203, 203, 203); }
.gm-style .wta-anchor > .tooltip-tip-inner, .gm-style .tooltip-anchor > .tooltip-tip-inner { border-bottom: 8px solid white; z-index: 1; top: 1px; }
.gm-style .tooltip-content { position: absolute; top: 8px; left: -70px; line-height: 137%; padding: 10px 12px 10px 13px; width: 210px; margin: 0px; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 2px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
.gm-style .wta-info { position: absolute; top: 8px; left: -252px; line-height: 137%; padding: 10px 12px 10px 13px; width: 310px; margin: 0px; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 2px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
.gm-style .navigate { display: inline-block; vertical-align: top; height: 43px; padding: 0px 7px; }
.gm-style .navigate-link { display: block; }
.gm-style .place-card .navigate-text, .gm-style .place-card .star-entity-text { margin-top: 5px; text-align: center; color: rgb(58, 132, 223); font-size: 12px; max-width: 55px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.gm-style .place-card .hidden { margin: 0px; padding: 0px; height: 0px; overflow: hidden; }
.gm-style .navigate-icon { width: 22px; height: 22px; overflow: hidden; margin: 0px auto; }
.gm-style .navigate-icon { border: 0px none; }
.gm-style .navigate-separator { display: inline-block; width: 1px; height: 43px; vertical-align: top; background: -moz-linear-gradient(center top , rgb(251, 251, 251), rgb(226, 226, 226), rgb(251, 251, 251)) repeat scroll 0% 0% transparent; }
.gm-style .star-entity { display: inline-block; vertical-align: top; height: 43px; padding: 0px 7px; }
.gm-style .star-entity .star-button { cursor: pointer; }
.gm-style .star-entity:hover .star-entity-text { text-decoration: underline; }
.gm-style .star-entity-icon-large { width: 22px; height: 22px; overflow: hidden; margin: 0px auto; }
.gm-style .can-star-large { position: relative; cursor: pointer; width: 22px; height: 22px; overflow: hidden; margin: 0px auto; }
.gm-style .logged-out-star, .logged-out-star:hover { position: relative; cursor: pointer; width: 22px; height: 22px; overflow: hidden; margin: 0px auto; }
.gm-style .review-box { padding-top: 5px; }
.gm-style .place-card .review-box-link { padding-left: 8px; }
.gm-style .place-card .review-number { display: inline-block; color: rgb(231, 113, 27); font-weight: 500; font-size: 14px; }
.gm-style .rating-star { display: inline-block; width: 11px; height: 11px; overflow: hidden; }
.gm-style .place-card-large .google-maps-link { margin-top: 5px; }
.gm-style .icon { background: url('entity8.png') repeat scroll 0% 0% / 70px 210px transparent; }
@media not all, (min-resolution: 1.2dppx), (min-resolution: 116dpi) {
	.gm-style .icon { background: url('entity8_hdpi.png') repeat scroll 0% 0% / 70px 210px transparent; }
}
.gm-style .navigate-icon { background-position: 0px 0px; }
.gm-style .navigate:hover .navigate-icon { background-position: 48px 0px; }
.gm-style .can-star-large { background-position: 70px 187px; }
.gm-style .star-button:hover .can-star-large { background-position: 48px 187px; }
.gm-style .logged-out-star { background-position: 96px 187px; }
.gm-style .star-button:hover .logged-out-star { background-position: 96px 187px; }
.gm-style .rating-full-star { background-position: 48px 165px; }
.gm-style .rating-half-star { background-position: 35px 165px; }
.gm-style .rating-empty-star { background-position: 23px 165px; }
.gm-style .info { height: 30px; width: 30px; background-position: 19px 36px; }
.saved-from-source-link { margin-top: 5px; max-width: 331px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.gm-inset { display: inline-block; }
.gm-inset-container { border-radius: 3px; border-style: solid; border-width: 2px; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); box-sizing: border-box; overflow: hidden; position: relative; }
.gm-inset-unexpanded:hover .gm-inset-container { border-width: 4px; margin: -2px; width: 46px; }
.gm-inset-map:hover .gm-inset-shadow { background-color: black; bottom: 0px; height: 100%; left: 0px; opacity: 0.6; position: absolute; width: 100%; }
.gm-inset-map:hover .gm-inset-triangle { border-bottom: 4px solid transparent; border-left: 4px solid white; border-top: 4px solid transparent; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); height: 0px; left: 28px; position: absolute; top: 16px; width: 0px; }
.gm-inset-map { cursor: pointer; display: table-cell; }
.gm-inset-map-impl { height: 38px; width: 38px; }
