/* ::::: http://static-cdn2.ustream.tv/packed/embed2:14113791481.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: none repeat scroll 0% 0% transparent; }
body { line-height: 1; }
:focus { outline: 0px none; }
html, body { overflow: hidden; height: 100%; max-height: 100%; width: 100%; font-size: 100%; background: none repeat scroll 0% 0% rgb(0, 0, 0); }
body { background: none repeat scroll 0% 0% rgb(0, 0, 0); font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif; font-size: 12px; line-height: 15px; color: rgb(48, 48, 48); position: relative; }
#EmbedViewer { height: 100%; width: 100%; background: none repeat scroll 0% 0% rgb(0, 0, 0); }
.is-retina { display: block; position: absolute; width: 0px; top: 0px; left: -50px; height: 0px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
	.is-retina { height: 1px; }
}
@media all and (min-width: 600px) {
}
@media all and (min-width: 480px) and (max-width: 600px) {
}
@media all and (min-width: 320px) and (max-width: 479px) {
}
@media all and (max-width: 319px) {
}
#OuterContainer { display: none; }
