/* ::::: http://fonts.googleapis.com/css?family=Lobster&subset=latin ::::: */

@font-face {
	font-family: "Lobster";
	font-style: normal;
	font-weight: 400;
	src: local("Lobster"), url('mwvf-rwh4glqvbewbyi61q.woff') format("woff");
}
/* ::::: http://www.enterprisecarsales.com/Themes/Jazel.Orchard.Themes.Enterprise/Styles/Site.css?hash=68b4e4e4 ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0px none; }
body { line-height: 1; color: black; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
ol, ul { list-style: none outside none; }
table { border-collapse: separate; border-spacing: 0px; }
caption, th, td { text-align: left; font-weight: normal; }
header, footer, aside, nav, article { display: block; }
.group:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.zone:after, .widget-control:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
body { font-size: 81.3%; color: rgb(67, 67, 67); background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: Tahoma,"Helvetica Neue",Arial,Helvetica,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0.6em 0px; }
h1 { font-size: 1.308em; }
h2 { font-size: 1.231em; }
aside h2 { font-size: 1.077em; }
li ul, li ol { margin: 0px 1.5em; }
ul, ol { margin: 1.5em; line-height: 1.538em; }
ul { list-style-type: disc; }
p { margin: 0px; line-height: 1.538em; }
a:focus, a:hover { text-decoration: underline; }
a { color: rgb(45, 108, 173); text-decoration: none; }
form { margin: 0px; padding: 0px; }
label { font-weight: normal; display: block; padding: 0px 0px 0.3em; }
input[type="text"], input[type="password"] {  }
input[type="checkbox"] { margin: 0.2em 0px 1.2em; }
#layout-wrapper {  }
#layout-header, #layout-before-main, #layout-footer, #layout-after-main { width: 960px; margin: 0px auto; position: relative; }
#layout-header { z-index: 999; }
#layout-navigation { clear: both; padding: 15px 10px 30px; margin: auto; z-index: 999; }
#layout-navigation nav { height: 35px; width: 944px; }
#layout-navigation ul { padding: 0px; margin: 0px; z-index: 999; }
#layout-navigation .zone-navigation .sf-menu { height: 35px; position: relative; }
#layout-navigation .zone-navigation .sf-menu li { border-right: 1px solid rgb(210, 219, 224); border-bottom: 1px solid rgb(64, 68, 71); background: none repeat scroll 0% 0% rgb(246, 246, 246); display: block; float: left; height: 35px; position: relative; z-index: 999; }
#layout-navigation .zone-navigation .sf-menu ul li { height: auto; position: relative; z-index: 999; }
#layout-navigation .zone-navigation .sf-menu li:first-child { border-left: 1px solid rgb(210, 219, 224); }
#layout-navigation .zone-navigation .sf-menu ul li { border: medium none; }
#layout-navigation .zone-navigation .sf-menu .title { background: url('l2topnavbg.jpg') repeat-x scroll left top rgb(255, 255, 255); display: block; color: rgb(70, 70, 70); font: 13px arial; padding: 13px 0px 8px; margin-top: -2px; text-align: center; text-decoration: none; white-space: nowrap; }
#layout-navigation .zone-navigation ul.sf-menu ul li .title { border-bottom: medium none; }
#layout-navigation .zone-navigation .sf-menu ul .title { margin-top: 0px; padding: 0px 25px; }
#layout-navigation .zone-navigation .sf-menu a:focus, #layout-navigation .zone-navigation .sf-menu a:hover, #layout-navigation .zone-navigation .sf-menu a:active { color: rgb(45, 107, 172); font-size: 13px; text-decoration: none ! important; background: url('topnavhover.jpg') repeat-x scroll left top rgb(255, 255, 255) ! important; }
#layout-navigation .zone-navigation .sf-menu li:hover .sf-with-ul { height: 17px; }
#layout-navigation .zone-navigation .sf-menu li:hover ul { background: none repeat scroll 0% 0% rgb(255, 255, 255); z-index: 999; }
#layout-navigation .zone-navigation .sf-menu li:hover li { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; position: relative; z-index: 999; }
#layout-navigation .zone-navigation .sf-menu li:hover a { color: rgb(45, 107, 172) ! important; font-size: 13px; text-decoration: none ! important; background: url('topnavhover.jpg') repeat-x scroll left top transparent ! important; height: auto; }
#layout-navigation .zone-navigation .sf-menu li:hover ul a { color: rgb(0, 0, 0) ! important; background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; }
#layout-navigation .zone-navigation .sf-menu li:hover ul a:hover { color: rgb(45, 107, 172) ! important; text-decoration: underline ! important; }
#layout-navigation .zone-navigation .sf-menu ul a:focus, #layout-navigation .zone-navigation .sf-menu ul a:hover, #layout-navigation .zone-navigation .sf-menu ul a:active { background: none repeat scroll 0% 0% transparent; }
#layout-navigation .zone-navigation .sf-menu ul { border-right: 1px solid rgb(190, 196, 202); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(190, 196, 202) rgb(190, 196, 202); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-bottom: 10px; top: 36px; left: -1px; width: auto; }
#layout-navigation .zone-navigation .sf-menu ul li:first-child { border-left: 0px none; }
#layout-navigation .zone-navigation .sf-menu ul a { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; color: rgb(70, 70, 70) ! important; font: 13px/18px arial ! important; }
#layout-navigation .zone-navigation .sf-menu li:hover ul a { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; z-index: 999; }
#layout-navigation .zone-navigation .sf-menu li:hover ul a:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; }
#layout-navigation .sf-shadow ul { background: none repeat scroll 0% 0% transparent; }
#layout-navigation ul ul { background: none repeat scroll 0% 0% rgb(255, 255, 255); display: none; position: absolute; }
#layout-navigation li:hover ul, #layout-navigation li:hover ul ul, #layout-navigation li:hover ul ul ul, #layout-navigation li:hover ul ul ul ul, #layout-navigation li:hover ul ul ul ul ul, #layout-navigation li:hover ul ul ul ul ul ul, #layout-navigation li.sfhover ul, #layout-navigation li.sfhover ul ul, #layout-navigation li.sfhover ul ul ul, #layout-navigation li.sfhover ul ul ul ul, #layout-navigation li.sfhover ul ul ul ul ul, #layout-navigation li.sfhover ul ul ul ul ul ul { display: none; }
#layout-navigation li:hover ul, #layout-navigation ul li:hover ul, #layout-navigation ul ul li:hover ul, #layout-navigation ul ul ul li:hover ul, #layout-navigation ul ul ul ul li:hover ul, #layout-navigation ul ul ul ul ul li:hover ul, #layout-navigation li.sfhover ul, #layout-navigation ul li.sfhover ul, #layout-navigation ul ul li.sfhover ul, #layout-navigation ul ul ul li.sfhover ul, #layout-navigation ul ul ul ul li.sfhover ul, #layout-navigation ul ul ul ul ul li.sfhover ul { display: block; }
#layout-header {  }
#layout-navigation {  }
#layout-main-container {  }
#layout-main { background: url('l2bodybg.jpg') repeat-y scroll center top transparent; padding-left: 15px; padding-right: 15px; padding-bottom: 60px; margin: 0px auto; position: relative; width: 930px; }
#aside-first {  }
#layout-content {  }
#content {  }
#aside-second { margin-right: 6px; }
#layout-after-main { background: url('valuemsgheaderbg.png') no-repeat scroll center top transparent; clear: both; }
#layout-tripel { padding: 0px 10px; overflow: hidden; }
#layout-tripel #tripel-first { float: left; }
#layout-tripel #tripel-second { float: left; }
#layout-tripel #tripel-third { float: left; }
#layout-footer { background: url('l2bodybg.jpg') repeat-y scroll center top transparent; clear: both; margin: auto; width: 960px; }
#footer { background: url('l2footerbg.png') no-repeat scroll center top transparent; }
#footer-quad { background: url('valuemsgtailbg.png') no-repeat scroll center bottom transparent; padding: 0px 10px 5px; overflow: hidden; }
#footer-quad-first { padding-left: 2px; float: left; }
#footer-quad-second { width: 291px; float: left; }
#footer-quad-third { float: left; }
#footer-sig { background: none repeat scroll 0% 0% rgb(255, 255, 255); clear: both; padding: 20px; }
.zone {  }
.zone-header { padding: 0px 10px; position: relative; }
.zone-navigation { padding: 0px; }
.zone-aside-first {  }
.zone-content { padding: 0px; }
.zone-footer { color: rgb(153, 153, 153); }
.content-item.page { margin-bottom: 20px; padding-top: 0px; }
.superscript { font-size: xx-small; vertical-align: top; }
.aside-12 #layout-content { float: left; width: 320px; }
.aside-12 .aside-first, .aside-12 .aside-second { float: left; width: 300px; }
.aside-12 .aside-first, .aside-12 .aside-second, .aside-12 #layout-content {  }
#layout-tripel-container { background: url('l2bodybg.jpg') repeat-y scroll center top transparent; clear: both; margin: auto; width: 960px; }
#layout-tripel-container p { margin: 0px; }
.tripel-123 #layout-tripel div {  }
.split-123 #footer-quad-third {  }
.first { margin-left: 0px; padding-left: 0px; }
.last { margin-right: 0px; padding-right: 0px; }
.credits { float: right; margin-top: -20px; }
.user-display { float: left; padding: 0px 12px; }
input[type="submit"], input[type="button"], button, .button, .button:link, .button:visited { color: rgb(51, 51, 51); background: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(203, 203, 203)) repeat scroll 0% 0% transparent; border: 1px solid rgb(153, 153, 153); cursor: pointer; margin: 0.2em 0px 2em; padding: 0.3em 1.8em; text-align: center; }
input[type="submit"]:hover, input[type="button"]:hover, input[type="submit"]:active, input[type="button"]:active, input[type="submit"]:focus, input[type="button"]:focus, button:hover, .button:hover, button:active, .button:active, button:focus, .button:focus { text-decoration: none; background: -moz-linear-gradient(center top , rgb(225, 225, 225), rgb(235, 235, 235)) repeat scroll 0% 0% transparent; }
/* ::::: http://www.enterprisecarsales.com/Themes/Jazel.Orchard.Themes.Enterprise/Styles/Site.css?hash=68b4e4e4 ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0px none; }
body { line-height: 1; color: black; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
ol, ul { list-style: none outside none; }
table { border-collapse: separate; border-spacing: 0px; }
caption, th, td { text-align: left; font-weight: normal; }
header, footer, aside, nav, article { display: block; }
.group:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.zone:after, .widget-control:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
body { font-size: 81.3%; color: rgb(67, 67, 67); background: none repeat scroll 0% 0% rgb(255, 255, 255); font-family: Tahoma,"Helvetica Neue",Arial,Helvetica,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0.6em 0px; }
h1 { font-size: 1.308em; }
h2 { font-size: 1.231em; }
aside h2 { font-size: 1.077em; }
li ul, li ol { margin: 0px 1.5em; }
ul, ol { margin: 1.5em; line-height: 1.538em; }
ul { list-style-type: disc; }
p { margin: 0px; line-height: 1.538em; }
a:focus, a:hover { text-decoration: underline; }
a { color: rgb(45, 108, 173); text-decoration: none; }
form { margin: 0px; padding: 0px; }
label { font-weight: normal; display: block; padding: 0px 0px 0.3em; }
input[type="text"], input[type="password"] {  }
input[type="checkbox"] { margin: 0.2em 0px 1.2em; }
#layout-wrapper {  }
#layout-header, #layout-before-main, #layout-footer, #layout-after-main { width: 960px; margin: 0px auto; position: relative; }
#layout-header { z-index: 999; }
#layout-navigation { clear: both; padding: 15px 10px 30px; margin: auto; z-index: 999; }
#layout-navigation nav { height: 35px; width: 944px; }
#layout-navigation ul { padding: 0px; margin: 0px; z-index: 999; }
#layout-navigation .zone-navigation .sf-menu { height: 35px; position: relative; }
#layout-navigation .zone-navigation .sf-menu li { border-right: 1px solid rgb(210, 219, 224); border-bottom: 1px solid rgb(64, 68, 71); background: none repeat scroll 0% 0% rgb(246, 246, 246); display: block; float: left; height: 35px; position: relative; z-index: 999; }
#layout-navigation .zone-navigation .sf-menu ul li { height: auto; position: relative; z-index: 999; }
#layout-navigation .zone-navigation .sf-menu li:first-child { border-left: 1px solid rgb(210, 219, 224); }
#layout-navigation .zone-navigation .sf-menu ul li { border: medium none; }
#layout-navigation .zone-navigation .sf-menu .title { background: url('l2topnavbg.jpg') repeat-x scroll left top rgb(255, 255, 255); display: block; color: rgb(70, 70, 70); font: 13px arial; padding: 13px 0px 8px; margin-top: -2px; text-align: center; text-decoration: none; white-space: nowrap; }
#layout-navigation .zone-navigation ul.sf-menu ul li .title { border-bottom: medium none; }
#layout-navigation .zone-navigation .sf-menu ul .title { margin-top: 0px; padding: 0px 25px; }
#layout-navigation .zone-navigation .sf-menu a:focus, #layout-navigation .zone-navigation .sf-menu a:hover, #layout-navigation .zone-navigation .sf-menu a:active { color: rgb(45, 107, 172); font-size: 13px; text-decoration: none ! important; background: url('topnavhover.jpg') repeat-x scroll left top rgb(255, 255, 255) ! important; }
#layout-navigation .zone-navigation .sf-menu li:hover .sf-with-ul { height: 17px; }
#layout-navigation .zone-navigation .sf-menu li:hover ul { background: none repeat scroll 0% 0% rgb(255, 255, 255); z-index: 999; }
#layout-navigation .zone-navigation .sf-menu li:hover li { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; position: relative; z-index: 999; }
#layout-navigation .zone-navigation .sf-menu li:hover a { color: rgb(45, 107, 172) ! important; font-size: 13px; text-decoration: none ! important; background: url('topnavhover.jpg') repeat-x scroll left top transparent ! important; height: auto; }
#layout-navigation .zone-navigation .sf-menu li:hover ul a { color: rgb(0, 0, 0) ! important; background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; }
#layout-navigation .zone-navigation .sf-menu li:hover ul a:hover { color: rgb(45, 107, 172) ! important; text-decoration: underline ! important; }
#layout-navigation .zone-navigation .sf-menu ul a:focus, #layout-navigation .zone-navigation .sf-menu ul a:hover, #layout-navigation .zone-navigation .sf-menu ul a:active { background: none repeat scroll 0% 0% transparent; }
#layout-navigation .zone-navigation .sf-menu ul { border-right: 1px solid rgb(190, 196, 202); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(190, 196, 202) rgb(190, 196, 202); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-bottom: 10px; top: 36px; left: -1px; width: auto; }
#layout-navigation .zone-navigation .sf-menu ul li:first-child { border-left: 0px none; }
#layout-navigation .zone-navigation .sf-menu ul a { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; color: rgb(70, 70, 70) ! important; font: 13px/18px arial ! important; }
#layout-navigation .zone-navigation .sf-menu li:hover ul a { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; z-index: 999; }
#layout-navigation .zone-navigation .sf-menu li:hover ul a:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; }
#layout-navigation .sf-shadow ul { background: none repeat scroll 0% 0% transparent; }
#layout-navigation ul ul { background: none repeat scroll 0% 0% rgb(255, 255, 255); display: none; position: absolute; }
#layout-navigation li:hover ul, #layout-navigation li:hover ul ul, #layout-navigation li:hover ul ul ul, #layout-navigation li:hover ul ul ul ul, #layout-navigation li:hover ul ul ul ul ul, #layout-navigation li:hover ul ul ul ul ul ul, #layout-navigation li.sfhover ul, #layout-navigation li.sfhover ul ul, #layout-navigation li.sfhover ul ul ul, #layout-navigation li.sfhover ul ul ul ul, #layout-navigation li.sfhover ul ul ul ul ul, #layout-navigation li.sfhover ul ul ul ul ul ul { display: none; }
#layout-navigation li:hover ul, #layout-navigation ul li:hover ul, #layout-navigation ul ul li:hover ul, #layout-navigation ul ul ul li:hover ul, #layout-navigation ul ul ul ul li:hover ul, #layout-navigation ul ul ul ul ul li:hover ul, #layout-navigation li.sfhover ul, #layout-navigation ul li.sfhover ul, #layout-navigation ul ul li.sfhover ul, #layout-navigation ul ul ul li.sfhover ul, #layout-navigation ul ul ul ul li.sfhover ul, #layout-navigation ul ul ul ul ul li.sfhover ul { display: block; }
#layout-header {  }
#layout-navigation {  }
#layout-main-container {  }
#layout-main { background: url('l2bodybg.jpg') repeat-y scroll center top transparent; padding-left: 15px; padding-right: 15px; padding-bottom: 60px; margin: 0px auto; position: relative; width: 930px; }
#aside-first {  }
#layout-content {  }
#content {  }
#aside-second { margin-right: 6px; }
#layout-after-main { background: url('valuemsgheaderbg.png') no-repeat scroll center top transparent; clear: both; }
#layout-tripel { padding: 0px 10px; overflow: hidden; }
#layout-tripel #tripel-first { float: left; }
#layout-tripel #tripel-second { float: left; }
#layout-tripel #tripel-third { float: left; }
#layout-footer { background: url('l2bodybg.jpg') repeat-y scroll center top transparent; clear: both; margin: auto; width: 960px; }
#footer { background: url('l2footerbg.png') no-repeat scroll center top transparent; }
#footer-quad { background: url('valuemsgtailbg.png') no-repeat scroll center bottom transparent; padding: 0px 10px 5px; overflow: hidden; }
#footer-quad-first { padding-left: 2px; float: left; }
#footer-quad-second { width: 291px; float: left; }
#footer-quad-third { float: left; }
#footer-sig { background: none repeat scroll 0% 0% rgb(255, 255, 255); clear: both; padding: 20px; }
.zone {  }
.zone-header { padding: 0px 10px; position: relative; }
.zone-navigation { padding: 0px; }
.zone-aside-first {  }
.zone-content { padding: 0px; }
.zone-footer { color: rgb(153, 153, 153); }
.content-item.page { margin-bottom: 20px; padding-top: 0px; }
.superscript { font-size: xx-small; vertical-align: top; }
.aside-12 #layout-content { float: left; width: 320px; }
.aside-12 .aside-first, .aside-12 .aside-second { float: left; width: 300px; }
.aside-12 .aside-first, .aside-12 .aside-second, .aside-12 #layout-content {  }
#layout-tripel-container { background: url('l2bodybg.jpg') repeat-y scroll center top transparent; clear: both; margin: auto; width: 960px; }
#layout-tripel-container p { margin: 0px; }
.tripel-123 #layout-tripel div {  }
.split-123 #footer-quad-third {  }
.first { margin-left: 0px; padding-left: 0px; }
.last { margin-right: 0px; padding-right: 0px; }
.credits { float: right; margin-top: -20px; }
.user-display { float: left; padding: 0px 12px; }
input[type="submit"], input[type="button"], button, .button, .button:link, .button:visited { color: rgb(51, 51, 51); background: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(203, 203, 203)) repeat scroll 0% 0% transparent; border: 1px solid rgb(153, 153, 153); cursor: pointer; margin: 0.2em 0px 2em; padding: 0.3em 1.8em; text-align: center; }
input[type="submit"]:hover, input[type="button"]:hover, input[type="submit"]:active, input[type="button"]:active, input[type="submit"]:focus, input[type="button"]:focus, button:hover, .button:hover, button:active, .button:active, button:focus, .button:focus { text-decoration: none; background: -moz-linear-gradient(center top , rgb(225, 225, 225), rgb(235, 235, 235)) repeat scroll 0% 0% transparent; }
/* ::::: http://www.enterprisecarsales.com/Modules/Jazel.Orchard.Modules.Enterprise.Auto4/Styles/homepage-search.css?hash=38aa55c4 ::::: */

.browseInventory { background: url('modulebg.png') no-repeat scroll left top transparent; height: 294px; position: relative; width: 208px; }
.browseContainer { background: url('modulecontainerbg.png') repeat-x scroll right top transparent; height: 201px; left: 20px; position: absolute; top: 37px; width: 173px; z-index: 1; }
.browseContainer .section { background: url('browsedefaultbg.png') no-repeat scroll right top transparent; display: none; height: 201px; position: absolute; top: 0px; right: 0px; overflow: hidden; width: 752px; }
.browseContainer .selection { float: left; margin-left: 26px; z-index: 80; }
.browseContainer .selection:first-child { margin-left: 0px; }
.browseContainer .selection select { color: rgb(0, 0, 0); font: 11px arial; padding: 0px; }
.browseContainer .selection input { color: rgb(0, 0, 0); font: 11px arial; padding: 0px; }
.browseContainer .selection h2 { color: rgb(54, 54, 54); font: bold 11px/22px arial; }
.browseContainer .selection span.required { color: rgb(187, 0, 0); }
.browseContainer .errMsg { color: rgb(204, 0, 0); font: 12px arial; display: none; }
.browseContainer .viewInventory img { cursor: pointer; }
.browseContainer form { margin: 0px; }
.browseContainer .fieldBox { color: rgb(54, 54, 54); font: 11px/20px arial; }
.browseContainer .closeButton { cursor: pointer; display: none; position: absolute; top: 11px; right: 18px; z-index: 99; }
.vehicleCount { padding: 3px 0px 0px 11px; }
.vehicleCount span { color: rgb(70, 70, 70); font: 18px/24px arial; }
.vehicleCount span.count { color: rgb(70, 70, 70); font: 24px/24px arial; }
.browseMenu { list-style: none outside none; margin: 5px 0px 0px; padding: 0px; width: 148px; }
.browseMenu li { background: url('browsenavbg.png') no-repeat scroll left bottom transparent; }
.browseMenu li a { display: block; color: rgb(54, 54, 54); font: 16px/26px arial; padding-left: 13px; text-decoration: none; }
.browseMenu li.first { background-position: right top; }
.browseMenu li.last { background-position: right bottom; }
.browseMenu li a:hover { background: url('browsenavbg.png') no-repeat scroll left top transparent; }
.browseContainer .tab1Content.section { background: url('browsebymakemodelbg.png') no-repeat scroll right top transparent; }
.tab2Content.section { background: url('browsebypricebg.png') no-repeat scroll right top transparent; }
.tab6Content.section { background: url('browsebyfueleconomybg.png') no-repeat scroll right top transparent; }
.browseInventory .onlyOneCategory { display: none; }
.browseInventory .formfields { display: none; }
.browseInventory .formfields.active { display: block; }
.browseInventory label { display: inline; }
.tab1Content, .tab2Content, .tab3Content, .tab4Content, #tab5Content, .tab6Content { position: relative; }
.tab1Content .flexible, .tab2Content .flexible, .tab3Content .flexible, .tab4Content .flexible, #tab5Content .flexible, .tab6Content .flexible { position: absolute; overflow: hidden; }
.tab1Content .selection select { display: block; margin-bottom: 7px; width: 155px; }
.tab1Content .viewInventory { clear: both; float: left; margin: 23px 0px 0px 224px; }
.tab1Content .flexible { left: 350px; top: 10px; width: 350px; height: 180px; }
.tab2Content .selection select { display: block; width: 155px; }
.tab2Content .viewInventory { clear: both; float: left; margin: 23px 0px 0px 43px; }
.tab2Content span { font: 11px/20px arial; }
.tab2Content .flexible { left: 170px; top: 10px; width: 530px; height: 180px; }
.tab3Content p { font: bold 10px/14px arial; margin: 0px; }
.tab3Content .selection { width: 160px; }
.tab3Content .selection span { font: 11px/20px arial; }
.tab3Content .paymentCalculator .selection { width: 397px; }
.tab3Content .selection .fieldBox { float: left; margin: 2px 19px 0px 0px; }
.tab3Content .selection .fieldBox.solo { clear: both; float: none; }
.tab3Content .selection .fieldBox span { font: 11px arial; }
.tab3Content .selection .fieldBox input { display: inline; margin: 0px 0px 0px 2px; width: 153px; }
.tab3Content .selection .fieldBox input[name="APR"] { width: 149px; }
.tab3Content .selection select { display: block; margin-bottom: 0px; width: 155px; }
.tab3Content .selection .legend { clear: both; font: 10px arial; }
.tab3Content .selection .errMsg { padding-left: 4px; }
.tab3Content .selection .reqLabel { color: rgb(0, 0, 0); }
.tab3Content .viewInventory { margin-left: 44px; margin-top: 25px; }
.tab4Content .selection { position: relative; }
.tab4Content .selection .fieldBox { position: absolute; white-space: nowrap; }
.tab4Content .selection .fieldBox.col1 { left: 2px; }
.tab4Content .selection .fieldBox.col2 { left: 161px; }
.tab4Content .selection .fieldBox.col3 { left: 322px; }
.tab4Content .selection .fieldBox.col4 { left: 482px; }
.tab4Content .selection .fieldBox.row1 { top: 50px; }
.tab4Content .selection .fieldBox.row2 { top: 114px; }
.tab4Content .selection .fieldBox.row3 { top: 178px; }
.tab4Content .selection .fieldBox input { float: left; margin-right: 2px; }
.tab4Content .errMsg { font: 14px arial; position: absolute; top: 90px; right: 10px; width: 140px; }
.tab4Content .viewInventory { top: 147px; position: absolute; right: 34px; }
.tab6Content .fieldBox { float: left; height: 20px; width: 150px; }
.tab6Content .selection { float: left; margin-left: 30px; width: 150px; }
.tab6Content .selection span.label { cursor: pointer; float: left; margin-left: 3px; line-height: 15px; white-space: nowrap; }
.tab6Content .selection input { float: left; margin: 0px; }
.tab6Content .selection.col2, .tab6Content .selection.col3 { margin-top: 35px; }
.tab6Content .viewInventory { clear: both; text-align: right; margin: 15px 0px 0px; position: absolute; bottom: 20px; right: 75px; }
.tab7Content .selection .fieldBox { cursor: pointer; }
.tab7Content .flexible { left: 120px; top: 10px; width: 580px; height: 180px; }
.social-icons { margin-top: 10px; padding-left: 20px; }
.social-icons .si { background-image: url('social-icons.png'); height: 27px; width: 27px; display: block; font: 0px/0 arial; float: left; margin-right: 5px; }
.social-icons .youtube { background-position: left top; }
.social-icons .twitter { background-position: -31px top; }
.social-icons .gplus { background-position: -63px top; }
.vehicleCount > span { font: 0px/0 arial; }
.vehicleCount > span.count:after { content: " Vehicles by..."; font-size: 16px; }
#layout-main-container { background: none repeat scroll 0% 0% transparent ! important; }
#layout-content { width: 310px ! important; }
#layout-main { width: 940px; padding: 30px 0px 20px; }
#aside-first { width: 214px; }
#aside-second { width: 325px; float: right; }
#aside-second img { max-width: 100%; }
#layout-tripel > div { width: 33.333%; height: 100%; }
#layout-tripel { height: 296px; }
#footer-sig { padding: 20px 10px 20px 27px; }
#aside-first { position: relative; z-index: 99; }
.bbt-aside-second span, .bbt-aside-second p { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.user-display { position: absolute; bottom: 0px; padding: 0px; }
.credits { float: right; margin-top: -20px; }
.content-item.page { margin-bottom: 0px; }
#layout-navigation .zone-navigation .sf-menu .title { padding: 13px 0px 8px; text-align: center; }
ul.sf-menu li { position: relative; }
.disclaimer { display: none; }
.ru { text-decoration: none ! important; color: rgb(153, 153, 153); }
.ru:hover { text-decoration: none ! important; }
.footer-links-table { font-size: 11px; margin-top: 4px; }
.footer-links-table td { text-align: left; padding: 2px 0px; }
.footer-links-table a { color: rgb(170, 170, 170) ! important; text-decoration: underline ! important; }
.footer-links-table a:hover { color: rgb(45, 108, 173) ! important; }
.zone-tripel-first, .zone-tripel-second { background: url('separator-bar.jpg') no-repeat scroll right top transparent; }
.GAS.Widget > a > div { margin: auto; }
.t3-block { position: relative; height: 265px; width: 310px; margin: auto; }
.t3-block .t3-image-area { height: 174px; width: 310px; text-align: center; display: table-cell; vertical-align: bottom; }
.t3-block h2 { color: rgb(45, 108, 173); font: 20px/20px arial; margin: 0px 0px 5px; padding-left: 25px; }
.t3-block p { margin: 0px; font: 14px/16px arial; color: rgb(85, 85, 85); padding-left: 25px; }
.t3-block .t3-link { position: absolute; bottom: 0px; right: 20px; color: rgb(45, 108, 173); font: 12px arial; }
.t3-block .t3-link img { margin-left: 6px; background-color: rgb(45, 108, 173); }
.randomize > div { display: none; }
.randomize > div:first-child { display: block; }
.browserMessage { text-align: center; margin-bottom: -30px; }
.browserMessage h1 { font: bold 1.5em Helvetica,arial,sans-serif; color: rgb(45, 108, 173); }
.browserMessage p { margin: 20px 0px; }
.browserMessage a { display: inline-block; vertical-align: top; }
.browserMessage a img { margin: 0px auto; display: block; width: 120px; }
.browserMessage button { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 170, 104); border-color: darkgreen; padding: 0.75em 4em; text-transform: uppercase; transition: background-color 300ms ease 0s; }
.browserMessage button:hover { background-color: rgb(0, 135, 84); transition: background-color 300ms ease 0s; }
